In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install optuna
!pip install catboost

In [3]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency, spearmanr, skew, pearsonr, zscore

from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, precision_recall_fscore_support
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import ParameterGrid
from sklearn.neighbors import KNeighborsClassifier

#SMOTE
from imblearn.over_sampling import SMOTE

#Mô hình XG Boost
import xgboost as xgb
from xgboost import plot_importance
from sklearn.model_selection import RandomizedSearchCV

#Random Forest
from sklearn.ensemble import RandomForestClassifier

import joblib
import optuna
from catboost import CatBoostClassifier

In [38]:
data = pd.read_csv('/content/drive/MyDrive/Datasets/Credit Card Fraud Dataset/application_data.csv')

# **GIẢI THÍCH DỮ LIỆU:**

SK_ID_CURR: Mã định danh của khách hàng. Đây là một giá trị duy nhất cho mỗi khách hàng trong tập dữ liệu.

**TARGET:** Biến mục tiêu, thường là một giá trị nhị phân (0 hoặc 1). Trong các bài toán phân loại rủi ro tín dụng, giá trị 1 có thể đại diện cho việc khách hàng không trả được nợ (default), trong khi 0 cho thấy khách hàng đã trả nợ đúng hạn.

NAME_CONTRACT_TYPE: Loại hợp đồng tín dụng (ví dụ: "Cash loans" hoặc "Revolving loans"). Cột này cho biết loại sản phẩm tín dụng mà khách hàng đang vay.

CODE_GENDER: Mã giới tính của khách hàng (ví dụ: "M" cho nam, "F" cho nữ).

FLAG_OWN_CAR: Cờ cho biết khách hàng có sở hữu xe hơi không (1 nếu có, 0 nếu không).

FLAG_OWN_REALTY: Cờ cho biết khách hàng có sở hữu bất động sản không (1 nếu có, 0 nếu không).

CNT_CHILDREN: Số lượng con cái của khách hàng.

AMT_INCOME_TOTAL: Tổng thu nhập hàng năm của khách hàng.

AMT_CREDIT: Số tiền tín dụng mà khách hàng đã vay.

AMT_ANNUITY: Số tiền thanh toán hàng năm mà khách hàng phải trả.

AMT_GOODS_PRICE: Giá trị hàng hóa hoặc dịch vụ mà khách hàng đang mua bằng tín dụng.

NAME_TYPE_SUITE: Loại nhóm hoặc hộ gia đình mà khách hàng thuộc về (ví dụ: "Unaccompanied", "Family", "Spouse, partner", etc.).

NAME_INCOME_TYPE: Loại thu nhập của khách hàng (ví dụ: "Working", "Commercial associate", "Pensioner", etc.).

NAME_EDUCATION_TYPE: Trình độ học vấn của khách hàng (ví dụ: "Higher education", "Secondary education", "Incomplete higher", etc.).

NAME_FAMILY_STATUS: Tình trạng hôn nhân của khách hàng (ví dụ: "Single", "Married", "Widow", etc.).

NAME_HOUSING_TYPE: Loại hình cư trú của khách hàng (ví dụ: "House / apartment", "Rented apartment", "With parents", etc.).

REGION_POPULATION_RELATIVE: Tỷ lệ dân số của khu vực mà khách hàng đang sinh sống so với tổng dân số.

DAYS_BIRTH: Tuổi của khách hàng tính bằng số ngày kể từ ngày sinh đến thời điểm hiện tại. Thường là số âm (số ngày từ ngày sinh đến ngày hiện tại).

DAYS_EMPLOYED: Số ngày khách hàng đã làm việc kể từ ngày bắt đầu công việc đến thời điểm hiện tại. Thường là số âm (số ngày từ ngày bắt đầu công việc đến ngày hiện tại).

DAYS_REGISTRATION: Số ngày kể từ khi khách hàng đăng ký cư trú đến thời điểm hiện tại. Thường là số âm.

DAYS_ID_PUBLISH: Số ngày kể từ khi khách hàng đăng ký chứng minh thư đến thời điểm hiện tại. Thường là số âm.

OWN_CAR_AGE: Tuổi của chiếc xe hơi mà khách hàng sở hữu (số năm). Có thể là giá trị số hoặc thiếu nếu không sở hữu xe.

FLAG_MOBIL: Cờ cho biết khách hàng có số điện thoại di động không (1 nếu có, 0 nếu không).

FLAG_EMP_PHONE: Cờ cho biết khách hàng có số điện thoại công ty không (1 nếu có, 0 nếu không).

FLAG_WORK_PHONE: Cờ cho biết khách hàng có số điện thoại công việc không (1 nếu có, 0 nếu không).

FLAG_CONT_MOBILE: Cờ cho biết khách hàng có thể liên hệ qua di động không (1 nếu có, 0 nếu không).

FLAG_PHONE: Cờ cho biết khách hàng có số điện thoại không (1 nếu có, 0 nếu không).

FLAG_EMAIL: Cờ cho biết khách hàng có email không (1 nếu có, 0 nếu không).

OCCUPATION_TYPE: Loại nghề nghiệp của khách hàng (ví dụ: "Laborers", "Sales staff", "Managers", etc.).

CNT_FAM_MEMBERS: Số lượng thành viên trong gia đình của khách hàng.

REGION_RATING_CLIENT: Xếp hạng của khu vực mà khách hàng sống (thường từ 1 đến 3, với 1 là khu vực ít phát triển hơn).

REGION_RATING_CLIENT_W_CITY: Xếp hạng khu vực, tính đến cả thành phố mà khách hàng sống.

WEEKDAY_APPR_PROCESS_START: Ngày trong tuần khi quá trình phê duyệt bắt đầu (ví dụ: "Monday", "Tuesday", etc.).

HOUR_APPR_PROCESS_START: Giờ trong ngày khi quá trình phê duyệt bắt đầu.

REG_REGION_NOT_LIVE_REGION: Cờ cho biết khu vực đăng ký không phải là khu vực khách hàng sống (1 nếu đúng, 0 nếu không).

REG_REGION_NOT_WORK_REGION: Cờ cho biết khu vực đăng ký không phải là khu vực khách hàng làm việc (1 nếu đúng, 0 nếu không).

LIVE_REGION_NOT_WORK_REGION: Cờ cho biết khu vực khách hàng sống không phải là khu vực làm việc (1 nếu đúng, 0 nếu không).

REG_CITY_NOT_LIVE_CITY: Cờ cho biết thành phố đăng ký không phải là thành phố khách hàng sống (1 nếu đúng, 0 nếu không).

REG_CITY_NOT_WORK_CITY: Cờ cho biết thành phố đăng ký không phải là thành phố khách hàng làm việc (1 nếu đúng, 0 nếu không).

LIVE_CITY_NOT_WORK_CITY: Cờ cho biết thành phố khách hàng sống không phải là thành phố khách hàng làm việc (1 nếu đúng, 0 nếu không).

ORGANIZATION_TYPE: Loại tổ chức mà khách hàng làm việc (ví dụ: "Business Entity", "Government", "School", etc.).

EXT_SOURCE_1, EXT_SOURCE_2, EXT_SOURCE_3: Các nguồn dữ liệu bên ngoài (ví dụ: điểm số tín dụng từ các tổ chức bên ngoài). Thường là các chỉ số được tính toán từ dữ liệu bên ngoài để đánh giá khả năng tín dụng.

APARTMENTS_AVG: Diện tích trung bình của các căn hộ trong khu vực cư trú.

BASEMENTAREA_AVG: Diện tích trung bình của tầng hầm trong khu vực cư trú.

YEARS_BEGINEXPLUATATION_AVG: Thời gian trung bình kể từ khi bất động sản bắt đầu được sử dụng.

YEARS_BUILD_AVG: Tuổi trung bình của các tòa nhà trong khu vực cư trú.

COMMONAREA_AVG: Diện tích trung bình của các khu vực chung trong bất động sản.

ELEVATORS_AVG: Số lượng thang máy trung bình trong khu vực cư trú.

ENTRANCES_AVG: Số lượng lối vào trung bình trong khu vực cư trú.

FLOORSMAX_AVG: Số tầng tối đa trung bình của các tòa nhà trong khu vực cư trú.

FLOORSMIN_AVG: Số tầng tối thiểu trung bình của các tòa nhà trong khu vực cư trú.

LANDAREA_AVG: Diện tích đất trung bình trong khu vực cư trú.

LIVINGAPARTMENTS_AVG: Số lượng căn hộ sinh sống trung bình trong khu vực cư trú.

LIVINGAREA_AVG: Diện tích sinh sống trung bình trong khu vực cư trú.

NONLIVINGAPARTMENTS_AVG: Số lượng căn hộ không sinh sống trung bình trong khu vực cư trú.

NONLIVINGAREA_AVG: Diện tích không sinh sống trung bình trong khu vực cư trú.

APARTMENTS_MODE: Chế độ số lượng căn hộ trong khu vực cư trú. Đây là số lượng căn hộ xuất hiện nhiều nhất trong các bất động sản trong khu vực.

BASEMENTAREA_MODE: Chế độ diện tích tầng hầm của các bất động sản. Đây là diện tích tầng hầm phổ biến nhất.

YEARS_BEGINEXPLUATATION_MODE: Chế độ số năm kể từ khi bất động sản bắt đầu được sử dụng. Đây là giá trị phổ biến nhất trong số các bất động sản.

YEARS_BUILD_MODE: Chế độ tuổi của các tòa nhà trong khu vực cư trú. Đây là số năm xây dựng phổ biến nhất.

COMMONAREA_MODE: Chế độ diện tích khu vực chung trong các bất động sản. Đây là diện tích khu vực chung phổ biến nhất.

ELEVATORS_MODE: Chế độ số lượng thang máy trong các tòa nhà. Đây là số lượng thang máy phổ biến nhất.

ENTRANCES_MODE: Chế độ số lượng lối vào trong các tòa nhà. Đây là số lượng lối vào phổ biến nhất.

FLOORSMAX_MODE: Chế độ số tầng tối đa của các tòa nhà trong khu vực cư trú. Đây là số tầng tối đa phổ biến nhất.

FLOORSMIN_MODE: Chế độ số tầng tối thiểu của các tòa nhà trong khu vực cư trú. Đây là số tầng tối thiểu phổ biến nhất.

LANDAREA_MODE: Chế độ diện tích đất của các bất động sản. Đây là diện tích đất phổ biến nhất trong khu vực cư trú.

LIVINGAPARTMENTS_MODE: Chế độ số lượng căn hộ sinh sống trong các bất động sản. Đây là số lượng căn hộ sinh sống phổ biến nhất.

LIVINGAREA_MODE: Chế độ diện tích sinh sống trong các bất động sản. Đây là diện tích sinh sống phổ biến nhất.

NONLIVINGAPARTMENTS_MODE: Chế độ số lượng căn hộ không sinh sống trong các bất động sản. Đây là số lượng căn hộ không sinh sống phổ biến nhất.

NONLIVINGAREA_MODE: Chế độ diện tích không sinh sống trong các bất động sản. Đây là diện tích không sinh sống phổ biến nhất.

APARTMENTS_MEDI: Trung vị số lượng căn hộ trong các bất động sản. Đây là giá trị ở giữa khi các số lượng căn hộ được sắp xếp theo thứ tự.

BASEMENTAREA_MEDI: Trung vị diện tích tầng hầm của các bất động sản. Đây là diện tích tầng hầm ở giữa khi sắp xếp theo thứ tự.

YEARS_BEGINEXPLUATATION_MEDI: Trung vị số năm kể từ khi bất động sản bắt đầu được sử dụng. Đây là giá trị ở giữa khi số năm được sắp xếp theo thứ tự.

YEARS_BUILD_MEDI: Trung vị tuổi của các tòa nhà trong khu vực cư trú. Đây là số năm xây dựng ở giữa khi sắp xếp theo thứ tự.

COMMONAREA_MEDI: Trung vị diện tích khu vực chung trong các bất động sản. Đây là diện tích khu vực chung ở giữa khi sắp xếp theo thứ tự.

ELEVATORS_MEDI: Trung vị số lượng thang máy trong các tòa nhà. Đây là số lượng thang máy ở giữa khi sắp xếp theo thứ tự.

ENTRANCES_MEDI: Trung vị số lượng lối vào trong các tòa nhà. Đây là số lượng lối vào ở giữa khi sắp xếp theo thứ tự.

FLOORSMAX_MEDI: Trung vị số tầng tối đa của các tòa nhà trong khu vực cư trú. Đây là số tầng tối đa ở giữa khi sắp xếp theo thứ tự.

FLOORSMIN_MEDI: Trung vị số tầng tối thiểu của các tòa nhà trong khu vực cư trú. Đây là số tầng tối thiểu ở giữa khi sắp xếp theo thứ tự.

LANDAREA_MEDI: Trung vị diện tích đất của các bất động sản. Đây là diện tích đất ở giữa khi sắp xếp theo thứ tự.

LIVINGAPARTMENTS_MEDI: Trung vị số lượng căn hộ sinh sống trong các bất động sản. Đây là số lượng căn hộ sinh sống ở giữa khi sắp xếp theo thứ tự.

LIVINGAREA_MEDI: Trung vị diện tích sinh sống trong các bất động sản. Đây là diện tích sinh sống ở giữa khi sắp xếp theo thứ tự.

NONLIVINGAPARTMENTS_MEDI: Trung vị số lượng căn hộ không sinh sống trong các bất động sản. Đây là số lượng căn hộ không sinh sống ở giữa khi sắp xếp theo thứ tự.

NONLIVINGAREA_MEDI: Trung vị diện tích không sinh sống trong các bất động sản. Đây là diện tích không sinh sống ở giữa khi sắp xếp theo thứ tự.

FONDKAPREMONT_MODE: Chế độ của quỹ sửa chữa (ví dụ: "fund repair", "no repair", etc.). Cung cấp thông tin về loại quỹ bảo trì hoặc sửa chữa bất động sản.

HOUSETYPE_MODE: Chế độ loại hình nhà ở (ví dụ: "block of flats", "detached house", etc.). Cho biết loại nhà ở phổ biến nhất trong khu vực cư trú.

TOTALAREA_MODE: Chế độ diện tích tổng thể của bất động sản. Đây là diện tích tổng thể phổ biến nhất.

WALLSMATERIAL_MODE: Chế độ loại vật liệu xây dựng tường (ví dụ: "brick", "panel", etc.). Cung cấp thông tin về loại vật liệu xây dựng phổ biến nhất.

EMERGENCYSTATE_MODE: Chế độ trạng thái khẩn cấp (ví dụ: "no", "yes"). Cho biết tình trạng khẩn cấp phổ biến nhất liên quan đến bất động sản.

OBS_30_CNT_SOCIAL_CIRCLE: Số lượng lần mà khách hàng đã quan sát thấy các mối quan hệ xã hội trong vòng 30 ngày qua.

DEF_30_CNT_SOCIAL_CIRCLE: Số lượng lần mà khách hàng đã quan sát thấy các mối quan hệ xã hội gặp vấn đề về tài chính trong vòng 30 ngày qua (tức là có hành vi vỡ nợ hoặc trả chậm).

OBS_60_CNT_SOCIAL_CIRCLE: Số lượng lần mà khách hàng đã quan sát thấy các mối quan hệ xã hội trong vòng 60 ngày qua.

DEF_60_CNT_SOCIAL_CIRCLE: Số lượng lần mà khách hàng đã quan sát thấy các mối quan hệ xã hội gặp vấn đề về tài chính trong vòng 60 ngày qua.

DAYS_LAST_PHONE_CHANGE: Số ngày kể từ khi khách hàng thay đổi số điện thoại của mình. Thường là số âm (số ngày từ ngày thay đổi đến ngày hiện tại).

FLAG_DOCUMENT_2 đến FLAG_DOCUMENT_21: Các cột này là cờ cho biết liệu khách hàng đã cung cấp các tài liệu cụ thể hay không. Mỗi cột tương ứng với một loại tài liệu khác nhau (ví dụ: giấy tờ tùy thân, hợp đồng, chứng nhận thu nhập, v.v.). Giá trị là 1 nếu tài liệu đã được cung cấp, 0 nếu không.

AMT_REQ_CREDIT_BUREAU_HOUR: Tổng số tiền yêu cầu từ các cơ quan báo cáo tín dụng trong vòng một giờ.

AMT_REQ_CREDIT_BUREAU_DAY: Tổng số tiền yêu cầu từ các cơ quan báo cáo tín dụng trong vòng một ngày.

AMT_REQ_CREDIT_BUREAU_WEEK: Tổng số tiền yêu cầu từ các cơ quan báo cáo tín dụng trong vòng một tuần.

AMT_REQ_CREDIT_BUREAU_MON: Tổng số tiền yêu cầu từ các cơ quan báo cáo tín dụng trong vòng một tháng.

AMT_REQ_CREDIT_BUREAU_QRT: Tổng số tiền yêu cầu từ các cơ quan báo cáo tín dụng trong vòng một quý.

AMT_REQ_CREDIT_BUREAU_YEAR: Tổng số tiền yêu cầu từ các cơ quan báo cáo tín dụng trong vòng một năm.

# **CHECKING**

In [39]:
data

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.0220,0.0198,0.0,0.0000,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.0000,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.0790,0.0554,0.0,0.0000,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.0100,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,225000.0,Unaccompanied,Working,Secondary / secondary special,Separated,With parents,0.032561,-9327,-236,-8456.0,-1982,NaN,1,1,0,1,0,0,Sales staff,1.0,1,1,THURSDAY,15,0,0,0,0,0,0,Services,0.145570,0.681632,NaN,0.2021,0.0887,0.9876,0.8300,0.0202,0.22,0.1034,0.6042,0.2708,0.0594,0.1484,0.1965,0.0753,0.1095,0.1008,0.0172,0.9782,0.7125,0.0172,0.0806,0.0345,0.4583,0.0417,0.0094,0.0882,0.0853,0.0,0.0125,0.2040,0.0887,0.9876,0.8323,0.0203,0.22,0.1034,0.6042,0.2708,0.0605,0.1509,0.2001,0.0757,0.1118,reg oper account,block of flats,0.2898,"Stone, brick",No,0.0,0.0,0.0,0.0,-273.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,0.025164,-20775,365243,-4388.0,-4090,NaN,1,0,0,1,1,0,NaN,1.0,2,2,MONDAY,8,0,0,0,0,0,0,XNA,NaN,0.115992,NaN,0.0247,0.0435,0.9727,0.6260,0.0022,0.00,0.1034,0.0833,0.1250,0.0579,0.0202,0.0257,0.0000,0.0000,0.0252,0.0451,0.9727,0.6406,0.0022,0.0000,0.1034,0.0833,0.1250,0.0592,0.0220,0.0267,0.0,0.0000,0.0250,0.0435,0.9727,0.6310,0.0022,0.00,0.1034,0.0833,0.1250,0.0589,0.0205,0.0261,0.0000,0.0000,reg oper account,block of flats,0.0214,"Stone, brick",No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,585000.0,Unaccompanied,Working,Higher education,Separated,House / apartment,0.005002,-14966,-7921,-6737.0,-5150,NaN,1,1,0,1,0,1,Managers,1.0,3,3,THURSDAY,9,0,0,0,0,1,1,School,0.744026,0.535722,0.218859,0.1031,0.0862,0.9816,0.7484,0.0123,0.00,0.2069,0.1667,0.2083,NaN,0.0841,0.9279,0.0000,0.0000,0.1050,0.0894,0.9816,0.7583,0.0124,0.0000,0.2069,0.1667,0.2083,NaN,0.0918,0.9667,0.0,0.0000,0.1041,0.0862,0.9816,0.7518,0.0124,0.00,0.2069,0.1667,0.2083,NaN,0.0855,0.9445,0.0000,0.0000,reg oper account,block of flats,0.7970,Panel,No,6.0,0.0,6.0,0.0,-1909.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,319500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.005313,-11961,-4786,-2562.0,-931,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,9,0,0,0,1,1,0,Business Entity Type 1,NaN,0.514163,0.661024,0.0124,NaN,0.9771,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0061,NaN,NaN,0.0126,NaN,0.9772,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0063,NaN,NaN,0.0125,NaN,0.9771,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0062,NaN,NaN,NaN,block of flats,0.0086,"Stone, brick",No,0.0,0.0,0.0,0.0,-322.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,675000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.046220,-16856,-1262,-5128.0,-410,NaN,1,1,1,1,1,0,Laborers,2.0,1,1,THURSDAY,20,0,0,0,0,1,1,Business Entity Type 3,0.734460,0.708569,0.113922,0.0742,0.0526,0.9881,NaN,0.0176,0.08,0.0690,0.3750,NaN,NaN,NaN,0.0791,NaN,0.0000,0.0756,0.0546,0.9881,NaN,0.0178,0.0806,0.0690,0.3750,NaN,NaN,NaN,0.0824,NaN,0.0000,0.0749,0.0526,0.9881,NaN,0.0177,0.08,0.0690,0.3750,NaN,NaN,NaN,0.0805,NaN,0.0000,NaN,block of flats,0.0718,Panel,No,0.0,0.0,0.0,0.0,-787.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [40]:
for i in data.columns:
  print(i)

SK_ID_CURR
TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
OCCUPATION_TYPE
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
FONDKAPREMONT_MODE
HOUSETYPE_MODE
TOTALAREA_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

***Kiểm tra xem có bao nhiêu columns có giá trị Inf hoặc Null không. Đối với các columns có Null cao, xóa bớt đi***

In [42]:
numerical_df = data[data.select_dtypes(exclude='object').columns]

inf_mask = np.isinf(numerical_df)
has_inf = inf_mask.any().any()
print(f"DataFrame có giá trị vô cực: {has_inf}")

DataFrame có giá trị vô cực: False

In [43]:
null_cols_to_droped = []
for i in data.columns:
  if data[i].isnull().sum() >= int(data.shape[0]//2):
    null_cols_to_droped.append(i)
  else:
    continue

print(len(null_cols_to_droped))
print(null_cols_to_droped)

41
['OWN_CAR_AGE', 'EXT_SOURCE_1', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE']

In [44]:
data = data.drop(columns=null_cols_to_droped)

***Kiểm tra các giá trị bất thường:***

*Như vậy, có thể thấy data không có giá trị bất thường*

In [45]:
data.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_2,EXT_SOURCE_3,YEARS_BEGINEXPLUATATION_AVG,FLOORSMAX_AVG,YEARS_BEGINEXPLUATATION_MODE,FLOORSMAX_MODE,YEARS_BEGINEXPLUATATION_MEDI,FLOORSMAX_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307509.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,3.068510e+05,246546.000000,157504.000000,154491.000000,157504.000000,154491.000000,157504.000000,154491.000000,159080.000000,306490.000000,306490.000000,306490.000000,306490.000000,307510.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.00000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,-4986.120328,-2994.202373,0.999997,0.819889,0.199368,0.998133,0.281066,0.056720,2.152665,2.052463,2.031521,12.063419,0.015144,0.050769,0.040659,0.078173,0.230454,0.179555,5.143927e-01,0.510853,0.977735,0.226282,0.977065,0.222315,0.977752,0.225897,0.102547,1.422245,0.143421,1.405292,0.100049,-962.858788,0.000042,0.710023,0.000081,0.015115,0.088055,0.000192,0.081376,0.003896,0.000023,0.003912,0.000007,0.003525,0.002936,0.00121,0.009928,0.000267,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,3522.886321,1509.450419,0.001803,0.384280,0.399526,0.043164,0.449521,0.231307,0.910682,0.509034,0.502737,3.265832,0.122126,0.219526,0.197499,0.268444,0.421124,0.383817,1.910602e-01,0.194844,0.059223,0.144641,0.064575,0.143709,0.059897,0.145067,0.107462,2.400989,0.446698,2.379803,0.362291,826.808487,0.006502,0.453752,0.009016,0.122010,0.283376,0.013850,0.273412,0.062295,0.004771,0.062424,0.002550,0.059268,0.054110,0.03476,0.099144,0.016327,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,-24672.000000,-7197.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.173617e-08,0.000527,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4292.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,-7479.500000,-4299.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.924574e-01,0.370650,0.976700,0.166700,0.976700,0.166700,0.976700,0.166700,0.041200,0.000000,0.000000,0.000000,0.000000,-1570.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,-4504.000000,-3254.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.659614e-01,0.535276,0.981600,0.166700,0.981600,0.166700,0.981600,0.166700,0.068800,0.000000,0.000000,0.000000,0.000000,-757.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,-2010.000000,-1720.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,3.000000,2.000000,2.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.636171e-01,0.669057,0.986600,0.333300,0.986600,0.333300,0.986600,0.333300,0.127600,2.000000,0.000000,2.000000,0.000000,-274.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,20.000000,3.000000,3.000000,23.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.549997e-01,0.896010,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,348.000000,34.000000,344.000000,24.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [46]:
#trong Column "DAY_EMPLOYED"có giá trị bất thường là 365243 (quá lớn). Chuyển đổi các giá trị này thành Null
data.loc[data['DAYS_EMPLOYED'] == 365243, 'DAYS_EMPLOYED'] = np.nan

***Tiếp theo, phân bổ các columns còn lại vào 2 loại: Các columns phân loại (Category) và Columns số (Numerics) để phục vụ phân tích sau***

In [47]:
def classify_cols(data):
  obj_cols = data.select_dtypes(include='object').columns
  num_cols = data.select_dtypes(exclude='object').columns
  category_variables = obj_cols.tolist()
  numberic_variables = []

  for i in num_cols:
    if len(data[i].unique()) <30:
      category_variables.append(i)
    else:
      numberic_variables.append(i)

  print("Numbers of category columns:", len(category_variables))
  print(category_variables)
  print('\n')
  print("Numbers of numberic columns:", len(numberic_variables))
  print(numberic_variables)
  return category_variables, numberic_variables

category_variables, numberic_variables = classify_cols(data)

Numbers of category columns: 60
['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'EMERGENCYSTATE_MODE', 'TARGET', 'CNT_CHILDREN', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'FLOORSMAX_MODE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']


Numbers of numberic columns: 21
['SK_ID_CURR', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'YEARS_BEGINEXPLUATATION_AVG', 'FLOORSMAX_AVG', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BEGINEXPLUATATION_MEDI', 'FLOORSMAX_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE']

***Kiểm tra xem trong 2 loại columns Categori và Numeric, có bao nhiêu columns chứa Null, qua đó sẽ xử lý bằng cách thêm dữ liệu***

In [48]:
null_category_variables = []
null_numberic_variables = []
for i in category_variables:
  if data[i].isnull().sum() > 0:
    null_category_variables.append(i)

for i in numberic_variables:
  if data[i].isnull().sum() > 0:
    null_numberic_variables.append(i)

print("Numbers of null category columns:", len(null_category_variables))
print(null_category_variables)
print('\n')
print("Numbers of null numberic columns:", len(null_numberic_variables))
print(null_numberic_variables)

Numbers of null category columns: 13
['NAME_TYPE_SUITE', 'OCCUPATION_TYPE', 'EMERGENCYSTATE_MODE', 'CNT_FAM_MEMBERS', 'FLOORSMAX_MODE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']


Numbers of null numberic columns: 14
['AMT_ANNUITY', 'AMT_GOODS_PRICE', 'DAYS_EMPLOYED', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'YEARS_BEGINEXPLUATATION_AVG', 'FLOORSMAX_AVG', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BEGINEXPLUATATION_MEDI', 'FLOORSMAX_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE']

In [49]:
#Hàm này sẽ chuyển các giá trị NaN của các columns số thành giá trị trung bình,...
#còn các columns Phân loại thì thay thế bằng giá trị chiếm đa số
def fillna(data):
    for col in null_numberic_variables:
        data[col] = data[col].fillna(data[col].median())
    for col in null_category_variables:
        data[col] = data[col].fillna(data[col].mode()[0])

fillna(data)

***Sau khi dữ liệu đã hết Null, tiến hành Xử lý dữ liệu Ouliers:***

In [50]:
#Skewness cho các biến liên tục hoặc rời rạc:
for i in numberic_variables:
  skewness = skew(data[i])
  print(f"Skewness của cột {i}:", skewness)

Skewness của cột SK_ID_CURR: -0.001200229222216958
Skewness của cột AMT_INCOME_TOTAL: 391.55774412283097
Skewness của cột AMT_CREDIT: 1.234772474032497
Skewness của cột AMT_ANNUITY: 1.57981601850358
Skewness của cột AMT_GOODS_PRICE: 1.3501359638005384
Skewness của cột REGION_POPULATION_RELATIVE: 1.4880012623794292
Skewness của cột DAYS_BIRTH: -0.11567274746102389
Skewness của cột DAYS_EMPLOYED: -2.295837876788367
Skewness của cột DAYS_REGISTRATION: -0.5908687335336363
Skewness của cột DAYS_ID_PUBLISH: 0.349325789225092
Skewness của cột EXT_SOURCE_2: -0.7959361537903271
Skewness của cột EXT_SOURCE_3: -0.537694074094104
Skewness của cột YEARS_BEGINEXPLUATATION_AVG: -21.744659816741787
Skewness của cột FLOORSMAX_AVG: 2.300258467827182
Skewness của cột YEARS_BEGINEXPLUATATION_MODE: -20.686068062184354
Skewness của cột YEARS_BEGINEXPLUATATION_MEDI: -21.825280491207565
Skewness của cột FLOORSMAX_MEDI: 2.315259061106669
Skewness của cột TOTALAREA_MODE: 4.216459182974029
Skewness của cột OBS_30_CNT_SOCIAL_CIRCLE: 12.143737153313078
Skewness của cột OBS_60_CNT_SOCIAL_CIRCLE: 12.075093632950276
Skewness của cột DAYS_LAST_PHONE_CHANGE: -0.7136055102729953

In [51]:
#Z-score cho các columns phân phối chuẩn:
z_score_list = ['DAYS_LAST_PHONE_CHANGE', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_ID_PUBLISH', 'DAYS_REGISTRATION', 'DAYS_BIRTH']
threshold = 3  # Xác định ngưỡng cho outlier

for i in z_score_list:
  data.loc[:, 'z_score'] = zscore(data[i])   # Tính Z-score cho cột hiện tại
  data = data[(data['z_score'] <= threshold) & (data['z_score'] >= -threshold)]   # Lọc và loại bỏ các giá trị ngoại lệ

# Loại bỏ cột 'z_score' sau khi lọc
data = data.drop(columns=['z_score'])

print("Dữ liệu sau khi loại bỏ các ngoại lệ bằng phương pháp Z-score:")
print(data.shape)

Dữ liệu sau khi loại bỏ các ngoại lệ bằng phương pháp Z-score:
(306123, 81)

# **PREPROCESSING**

***Pearson Correlation để kiểm tra độ tuyến tính:***

*Hầu hết các columns đều có giá trị Corr thấp, nên mô hình thiên về phi tuyến*

In [52]:
pearson_cols = numberic_variables

for i in pearson_cols:
  corr, _ = pearsonr(data[i], data['TARGET'])
  print(f"Pearson Correlation of column {i}:", corr)

Pearson Correlation of column SK_ID_CURR: -0.0019758973004831283
Pearson Correlation of column AMT_INCOME_TOTAL: -0.003961089259600312
Pearson Correlation of column AMT_CREDIT: -0.03070677862488917
Pearson Correlation of column AMT_ANNUITY: -0.01293253809299193
Pearson Correlation of column AMT_GOODS_PRICE: -0.03995717541708664
Pearson Correlation of column REGION_POPULATION_RELATIVE: -0.03695522664521479
Pearson Correlation of column DAYS_BIRTH: 0.07791880770460743
Pearson Correlation of column DAYS_EMPLOYED: 0.06359474292131911
Pearson Correlation of column DAYS_REGISTRATION: 0.041250051709563876
Pearson Correlation of column DAYS_ID_PUBLISH: 0.051282342459133476
Pearson Correlation of column EXT_SOURCE_2: -0.16054037048318187
Pearson Correlation of column EXT_SOURCE_3: -0.15584637439764537
Pearson Correlation of column YEARS_BEGINEXPLUATATION_AVG: -0.004692543689934184
Pearson Correlation of column FLOORSMAX_AVG: -0.03939960157658874
Pearson Correlation of column YEARS_BEGINEXPLUATATION_MODE: -0.0040845122077202214
Pearson Correlation of column YEARS_BEGINEXPLUATATION_MEDI: -0.004897697377427537
Pearson Correlation of column FLOORSMAX_MEDI: -0.0391658811329722
Pearson Correlation of column TOTALAREA_MODE: -0.03013622722025216
Pearson Correlation of column OBS_30_CNT_SOCIAL_CIRCLE: 0.009303677750940348
Pearson Correlation of column OBS_60_CNT_SOCIAL_CIRCLE: 0.009198070338869319
Pearson Correlation of column DAYS_LAST_PHONE_CHANGE: 0.055086318912025256

***Kiểm định Chi-squared cho các columns phân loại:***

In [53]:
remove_obj_cols =[]

#Chi-square test cho các cột Object so với cột Output của data
for i in category_variables:
  chi2, pval, _, _ = chi2_contingency(pd.crosstab(data[i], data['TARGET']))
  print(i, '---', pval)
  if pval > 0.05:
    remove_obj_cols.append(i)
  else:
    continue
print(remove_obj_cols)

NAME_CONTRACT_TYPE --- 8.67198620644725e-66
CODE_GENDER --- 1.6110806745796115e-200
FLAG_OWN_CAR --- 1.891623883695622e-33
FLAG_OWN_REALTY --- 0.0009162510255909044
NAME_TYPE_SUITE --- 1.5124421452865175e-05
NAME_INCOME_TYPE --- 1.5101656705221008e-264
NAME_EDUCATION_TYPE --- 8.745199943966637e-219
NAME_FAMILY_STATUS --- 1.2980403359314118e-105
NAME_HOUSING_TYPE --- 2.999628472060348e-88
OCCUPATION_TYPE --- 6.165487872390468e-242
WEEKDAY_APPR_PROCESS_START --- 0.023523193544129753
ORGANIZATION_TYPE --- 1.2151153699574255e-296
EMERGENCYSTATE_MODE --- 0.013143046740033632
TARGET --- 0.0
CNT_CHILDREN --- 1.8772016669209422e-31
FLAG_MOBIL --- 1.0
FLAG_EMP_PHONE --- 1.054325110864873e-141
FLAG_WORK_PHONE --- 2.0394825859236082e-55
FLAG_CONT_MOBILE --- 0.9147395516024521
FLAG_PHONE --- 4.3946819851346255e-39
FLAG_EMAIL --- 0.33939562577591065
CNT_FAM_MEMBERS --- 3.2517528587391694e-27
REGION_RATING_CLIENT --- 8.696857942696058e-230
REGION_RATING_CLIENT_W_CITY --- 2.703475671494699e-246
HOUR_APPR_PROCESS_START --- 8.009404239226962e-44
REG_REGION_NOT_LIVE_REGION --- 0.0020143448748484254
REG_REGION_NOT_WORK_REGION --- 0.0001593229566271179
LIVE_REGION_NOT_WORK_REGION --- 0.13934163595608257
REG_CITY_NOT_LIVE_CITY --- 3.3077831757762123e-133
REG_CITY_NOT_WORK_CITY --- 2.3500459935122533e-174
LIVE_CITY_NOT_WORK_CITY --- 6.861941769795937e-72
FLOORSMAX_MODE --- 1.6352847084633166e-100
DEF_30_CNT_SOCIAL_CIRCLE --- 7.491881962594003e-68
DEF_60_CNT_SOCIAL_CIRCLE --- 3.979632915817104e-65
FLAG_DOCUMENT_2 --- 0.012769864115337605
FLAG_DOCUMENT_3 --- 5.513793529503052e-133
FLAG_DOCUMENT_4 --- 0.26408071358302154
FLAG_DOCUMENT_5 --- 0.8956766835920393
FLAG_DOCUMENT_6 --- 3.3770096951826476e-56
FLAG_DOCUMENT_7 --- 0.5431741216123276
FLAG_DOCUMENT_8 --- 9.632233941086736e-06
FLAG_DOCUMENT_9 --- 0.014635000479271318
FLAG_DOCUMENT_10 --- 0.9267384582868475
FLAG_DOCUMENT_11 --- 0.021601129678390518
FLAG_DOCUMENT_12 --- 1.0
FLAG_DOCUMENT_13 --- 2.1250447121412482e-10
FLAG_DOCUMENT_14 --- 2.1350393384860065e-07
FLAG_DOCUMENT_15 --- 0.00021813927921249647
FLAG_DOCUMENT_16 --- 1.0151801539848459e-10
FLAG_DOCUMENT_17 --- 0.09403757059733202
FLAG_DOCUMENT_18 --- 1.1278293044125627e-05
FLAG_DOCUMENT_19 --- 0.5318240664498883
FLAG_DOCUMENT_20 --- 1.0
FLAG_DOCUMENT_21 --- 0.061866566491693496
AMT_REQ_CREDIT_BUREAU_HOUR --- 0.8434380843756976
AMT_REQ_CREDIT_BUREAU_DAY --- 0.42778035362089545
AMT_REQ_CREDIT_BUREAU_WEEK --- 0.873514851183296
AMT_REQ_CREDIT_BUREAU_MON --- 3.473410301859151e-08
AMT_REQ_CREDIT_BUREAU_QRT --- 1.2940751111568946e-26
AMT_REQ_CREDIT_BUREAU_YEAR --- 6.146130984322534e-13
['FLAG_MOBIL', 'FLAG_CONT_MOBILE', 'FLAG_EMAIL', 'LIVE_REGION_NOT_WORK_REGION', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK']

In [54]:
data = data.drop(columns = remove_obj_cols)

***Kiểm định Spearman cho các columns số:***

In [55]:
spear_cols = numberic_variables
spear_cols.append('TARGET')
spearman_df = data[spear_cols]
correlation_results = []

# Duyệt qua tất cả các cột trong DataFrame
for col in spearman_df.columns:
  if col == 'TARGET':
    continue
  else:
    corr, p_value = spearmanr(spearman_df[col], spearman_df['TARGET'])
    correlation_results.append((col, corr, p_value))

# Chuyển kết quả thành DataFrame để dễ quan sát
correlation_df = pd.DataFrame(correlation_results, columns=['Feature', 'Spearman Correlation', 'p-value'])
correlation_df = correlation_df.sort_values(by='Spearman Correlation', ascending=False)
correlation_df

                         Feature  Spearman Correlation        p-value
6                     DAYS_BIRTH              0.078015   0.000000e+00
7                  DAYS_EMPLOYED              0.075069   0.000000e+00
20        DAYS_LAST_PHONE_CHANGE              0.053554  3.224461e-193
9                DAYS_ID_PUBLISH              0.052370  7.540553e-185
8              DAYS_REGISTRATION              0.039596  1.811763e-106
18      OBS_30_CNT_SOCIAL_CIRCLE              0.009681   8.482638e-08
19      OBS_60_CNT_SOCIAL_CIRCLE              0.009530   1.342328e-07
3                    AMT_ANNUITY             -0.000153   9.325258e-01
0                     SK_ID_CURR             -0.001978   2.737096e-01
14  YEARS_BEGINEXPLUATATION_MODE             -0.016597   4.172014e-20
2                     AMT_CREDIT             -0.017845   5.381018e-23
15  YEARS_BEGINEXPLUATATION_MEDI             -0.017976   2.615807e-23
12   YEARS_BEGINEXPLUATATION_AVG             -0.018011   2.142049e-23
1               AMT_INCOME_TOTAL             -0.018068   1.566545e-23
17                TOTALAREA_MODE             -0.023542   8.604322e-39
5     REGION_POPULATION_RELATIVE             -0.030264   5.794965e-63
4                AMT_GOODS_PRICE             -0.031815   2.162820e-69
16                FLOORSMAX_MEDI             -0.036812   2.828948e-92
13                 FLOORSMAX_AVG             -0.037154   5.783723e-94
11                  EXT_SOURCE_3             -0.141472   0.000000e+00
10                  EXT_SOURCE_2             -0.147370   0.000000e+00

In [56]:
data = data.drop(columns = ['OBS_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'AMT_ANNUITY', 'SK_ID_CURR',
                            'YEARS_BEGINEXPLUATATION_MODE', 'AMT_CREDIT', 'YEARS_BEGINEXPLUATATION_MEDI',
                            'YEARS_BEGINEXPLUATATION_AVG', 'AMT_INCOME_TOTAL'])

# **EDA**

In [57]:
data = data[data['CODE_GENDER']!='XNA']
category_variables, numberic_variables = classify_cols(data)

Numbers of category columns: 44
['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'EMERGENCYSTATE_MODE', 'TARGET', 'CNT_CHILDREN', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_PHONE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'FLOORSMAX_MODE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_18', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']


Numbers of numberic columns: 12
['AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'FLOORSMAX_AVG', 'FLOORSMAX_MEDI', 'TOTALAREA_MODE', 'DAYS_LAST_PHONE_CHANGE']

***Biểu đồ Bar cho các columns phân loại***

In [ ]:
for i in category_variables:
  print(data[i].value_counts())
  print('\n')

NAME_CONTRACT_TYPE
Cash loans         276933
Revolving loans     29186
Name: count, dtype: int64


CODE_GENDER
F    201448
M    104671
Name: count, dtype: int64


FLAG_OWN_CAR
N    201962
Y    104157
Name: count, dtype: int64


FLAG_OWN_REALTY
Y    212319
N     93800
Name: count, dtype: int64


NAME_TYPE_SUITE
Unaccompanied      248671
Family              39975
Spouse, partner     11331
Children             3250
Other_B              1758
Other_A               863
Group of people       271
Name: count, dtype: int64


NAME_INCOME_TYPE
Working                 158342
Commercial associate     71292
Pensioner                54801
State servant            21629
Unemployed                  22
Student                     18
Businessman                 10
Maternity leave              5
Name: count, dtype: int64


NAME_EDUCATION_TYPE
Secondary / secondary special    217444
Higher education                  74472
Incomplete higher                 10253
Lower secondary                    3788
Academic degree                     162
Name: count, dtype: int64


NAME_FAMILY_STATUS
Married                 195583
Single / not married     45263
Civil marriage           29675
Separated                19657
Widow                    15939
Unknown                      2
Name: count, dtype: int64


NAME_HOUSING_TYPE
House / apartment      271619
With parents            14821
Municipal apartment     11083
Rented apartment         4875
Office apartment         2608
Co-op apartment          1113
Name: count, dtype: int64


OCCUPATION_TYPE
Laborers                 150715
Sales staff               32035
Core staff                27480
Managers                  21268
Drivers                   18543
High skill tech staff     11335
Accountants                9765
Medicine staff             8509
Security staff             6708
Cooking staff              5933
Cleaning staff             4628
Private service staff      2640
Low-skill Laborers         2085
Waiters/barmen staff       1346
Secretaries                1298
Realty agents               747
HR staff                    561
IT staff                    523
Name: count, dtype: int64


WEEKDAY_APPR_PROCESS_START
TUESDAY      53651
WEDNESDAY    51715
MONDAY       50485
THURSDAY     50368
FRIDAY       50099
SATURDAY     33700
SUNDAY       16101
Name: count, dtype: int64


ORGANIZATION_TYPE
Business Entity Type 3    67744
XNA                       54813
Self-employed             38313
Other                     16604
Medicine                  11147
Business Entity Type 2    10519
Government                10364
School                     8854
Trade: type 7              7812
Kindergarten               6863
Construction               6706
Business Entity Type 1     5963
Transport: type 4          5380
Trade: type 3              3479
Industry: type 9           3359
Industry: type 3           3268
Security                   3241
Housing                    2945
Industry: type 11          2695
Military                   2623
Bank                       2501
Agriculture                2448
Police                     2332
Transport: type 2          2198
Postal                     2153
Security Ministries        1969
Trade: type 2              1899
Restaurant                 1808
Services                   1573
University                 1319
Industry: type 7           1300
Transport: type 3          1186
Industry: type 1           1037
Hotel                       965
Electricity                 949
Industry: type 4            876
Trade: type 6               626
Insurance                   595
Industry: type 5            595
Telecom                     576
Emergency                   560
Industry: type 2            455
Advertising                 426
Realtor                     396
Culture                     378
Industry: type 12           368
Trade: type 1               348
Mobile                      316
Legal Services              305
Cleaning                    259
Transport: type 1           201
Industry: type 6            112
Industry: type 10           109
Religion                     85
Industry: type 13            67
Trade: type 4                64
Trade: type 5                49
Industry: type 8             24
Name: count, dtype: int64


EMERGENCYSTATE_MODE
No     303795
Yes      2324
Name: count, dtype: int64


TARGET
0    281352
1     24767
Name: count, dtype: int64


CNT_CHILDREN
0     214218
1      60946
2      26688
3       3713
4        428
5         84
6         21
7          7
14         3
8          2
9          2
12         2
10         2
19         2
11         1
Name: count, dtype: int64


FLAG_EMP_PHONE
1    251294
0     54825
Name: count, dtype: int64


FLAG_WORK_PHONE
0    244982
1     61137
Name: count, dtype: int64


FLAG_PHONE
0    220194
1     85925
Name: count, dtype: int64


CNT_FAM_MEMBERS
2.0     157575
1.0      67446
3.0      52451
4.0      24644
5.0       3475
6.0        407
7.0         81
8.0         20
9.0          6
10.0         3
14.0         2
12.0         2
20.0         2
16.0         2
13.0         1
15.0         1
11.0         1
Name: count, dtype: int64


REGION_RATING_CLIENT
2    226132
3     48222
1     31765
Name: count, dtype: int64


REGION_RATING_CLIENT_W_CITY
2    228618
3     43769
1     33732
Name: count, dtype: int64


HOUR_APPR_PROCESS_START
10    37543
11    37063
12    34053
13    30811
14    27555
9     27276
15    24727
16    20278
8     15084
17    14807
7      9105
18     8999
6      5833
19     3824
5      3636
4      2084
3      1230
20     1188
21      404
2       305
22      147
1        86
23       41
0        40
Name: count, dtype: int64


REG_REGION_NOT_LIVE_REGION
0    301477
1      4642
Name: count, dtype: int64


REG_REGION_NOT_WORK_REGION
0    290577
1     15542
Name: count, dtype: int64


REG_CITY_NOT_LIVE_CITY
0    282122
1     23997
Name: count, dtype: int64


REG_CITY_NOT_WORK_CITY
0    235402
1     70717
Name: count, dtype: int64


LIVE_CITY_NOT_WORK_CITY
0    251038
1     55081
Name: count, dtype: int64


FLOORSMAX_MODE
0.1667    217620
0.3333     34231
0.0417     15544
0.3750      8289
0.1250      7213
0.0833      6757
0.0000      3410
0.4583      3185
0.6250      2065
0.5417      1814
0.6667      1692
0.2083      1498
0.2500       564
0.2917       504
0.5833       391
0.4167       235
0.8750       227
0.7083       198
0.5000       184
1.0000       164
0.7500       122
0.9583        94
0.7917        58
0.9167        38
0.8333        22
Name: count, dtype: int64


DEF_30_CNT_SOCIAL_CIRCLE
0.0     271071
1.0      28233
2.0       5306
3.0       1187
4.0        252
5.0         56
6.0         11
7.0          1
34.0         1
8.0          1
Name: count, dtype: int64


DEF_60_CNT_SOCIAL_CIRCLE
0.0     280433
1.0      21771
2.0       3160
3.0        596
4.0        134
5.0         20
6.0          3
7.0          1
24.0         1
Name: count, dtype: int64


FLAG_DOCUMENT_2
0    306106
1        13
Name: count, dtype: int64


FLAG_DOCUMENT_3
1    217452
0     88667
Name: count, dtype: int64


FLAG_DOCUMENT_6
0    279308
1     26811
Name: count, dtype: int64


FLAG_DOCUMENT_8
0    281213
1     24906
Name: count, dtype: int64


FLAG_DOCUMENT_9
0    304927
1      1192
Name: count, dtype: int64


FLAG_DOCUMENT_11
0    304918
1      1201
Name: count, dtype: int64


FLAG_DOCUMENT_13
0    305040
1      1079
Name: count, dtype: int64


FLAG_DOCUMENT_14
0    305218
1       901
Name: count, dtype: int64


FLAG_DOCUMENT_15
0    305750
1       369
Name: count, dtype: int64


FLAG_DOCUMENT_16
0    303075
1      3044
Name: count, dtype: int64


FLAG_DOCUMENT_18
0    303621
1      2498
Name: count, dtype: int64


AMT_REQ_CREDIT_BUREAU_MON
0.0     262565
1.0      32993
2.0       5366
3.0       1977
4.0       1074
5.0        599
6.0        341
7.0        295
9.0        204
8.0        184
10.0       130
11.0       119
12.0        76
13.0        72
14.0        40
15.0        35
16.0        22
17.0        14
18.0         6
19.0         3
24.0         1
23.0         1
27.0         1
22.0         1
Name: count, dtype: int64


AMT_REQ_CREDIT_BUREAU_QRT
0.0      255769
1.0       33690
2.0       14366
3.0        1711
4.0         475
5.0          64
6.0          28
8.0           7
7.0           7
261.0         1
19.0          1
Name: count, dtype: int64


AMT_REQ_CREDIT_BUREAU_YEAR
0.0     112789
1.0      63134
2.0      49986
3.0      33463
4.0      20631
5.0      11997
6.0       6927
7.0       3850
8.0       2113
9.0       1091
12.0        30
11.0        30
10.0        21
13.0        18
14.0        10
17.0         7
15.0         6
19.0         4
18.0         4
16.0         3
25.0         1
23.0         1
22.0         1
21.0         1
20.0         1
Name: count, dtype: int64

In [ ]:
for i in category_variables:
    ax1 = sns.countplot(x=i, hue='TARGET', data=data)
    ax1.set_xlabel('Value:')
    ax1.set_ylabel('Number')
    ax1.set_title(i)
    plt.gcf().set_size_inches(len(data[i].unique()) * 2.1, 4)

    for container in ax1.containers:
        ax1.bar_label(container)

    plt.tight_layout()
    plt.show()

***Biểu đồ Hist cho các columns số***

In [ ]:
for i in numberic_variables:
  plt.figure(figsize=(10,5))
  ax2 = sns.histplot(data[i], bins=20)
  ax2.set_xlabel('Value')
  ax2.set_ylabel('Frequency')
  ax2.set_title(i)
  plt.show()

# **ENCODING**

In [20]:
#Ánh xạ các giá trị của NAME_HOUSING_TYPE
data.loc[:, 'NAME_HOUSING_TYPE'] = data['NAME_HOUSING_TYPE'].apply(lambda x: 1 if x == 'House / apartment' else 0)

In [21]:
#Ánh xạ các giá trị của OCCUPATION_TYPE
OCCUPATION_TYPE_mapping = {'Laborers': 0, 'Core staff': 2, 'Accountants': 1, 'Managers': 2, 'Drivers': 0, 'Sales staff': 1,
                           'Cleaning staff': 0, 'Cooking staff': 0, 'Private service staff': 0, 'Medicine staff': 0,
                           'Security staff': 0, 'High skill tech staff': 1, 'Waiters/barmen staff': 0, 'Low-skill Laborers': 0,
                           'Realty agents': 2, 'Secretaries': 1, 'IT staff': 1, 'HR staff': 1}
data.loc[:,'OCCUPATION_TYPE'] = data['OCCUPATION_TYPE'].map(OCCUPATION_TYPE_mapping)

In [22]:
data.loc[:, ['NAME_HOUSING_TYPE', 'OCCUPATION_TYPE']] = data[['NAME_HOUSING_TYPE', 'OCCUPATION_TYPE']].astype('int64')

In [23]:
def map_columns(data, column_names=['NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
                                    'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'EMERGENCYSTATE_MODE']):

    # Các ánh xạ giá trị cho các cột khác nhau
    NAME_TYPE_SUITE_mapping = {'Unaccompanied': 0, 'Family': 3, 'Spouse, partner': 2, 'Children': 1, 'Other_B': 4, 'Other_A': 4, 'Group of people': 4}

    NAME_INCOME_TYPE_mapping = {'Working': 2, 'Commercial associate': 3, 'Pensioner': 1, 'State servant': 3, 'Unemployed': 0,
                                'Student': 0, 'Businessman': 3, 'Maternity leave': 1}

    NAME_EDUCATION_TYPE_mapping = {'Secondary / secondary special': 1, 'Higher education': 3, 'Incomplete higher': 2,
                                   'Lower secondary': 0, 'Academic degree': 4}

    NAME_FAMILY_STATUS_mapping = {'Married': 1, 'Single / not married': 0, 'Civil marriage': 0, 'Separated': 0, 'Widow': 0, 'Unknown': 0}

    WEEKDAY_APPR_PROCESS_START_mapping = {'TUESDAY': 1, 'WEDNESDAY': 2, 'MONDAY': 0, 'THURSDAY': 3, 'FRIDAY': 4, 'SATURDAY': 5, 'SUNDAY': 6}

    ORGANIZATION_TYPE_mapping = {'Business Entity Type 3': 1, 'XNA': 0, 'Self-employed': 1, 'Other': 0, 'Medicine': 2, 'Business Entity Type 2': 1,
                                 'Government': 2, 'School': 2, 'Trade: type 7': 1, 'Kindergarten': 2, 'Construction': 2, 'Business Entity Type 1': 1,
                                 'Transport: type 4': 2, 'Trade: type 3': 1, 'Industry: type 9': 2, 'Industry: type 3': 2, 'Security': 2, 'Housing': 1,
                                 'Industry: type 11': 1, 'Military': 2, 'Bank': 1, 'Agriculture': 2, 'Police': 2, 'Transport: type 2': 2, 'Postal': 2,
                                 'Security Ministries': 2, 'Trade: type 2': 1, 'Restaurant': 1, 'Services': 1, 'University': 2, 'Industry: type 7': 2,
                                 'Transport: type 3': 2, 'Industry: type 1': 2, 'Hotel': 1, 'Electricity': 2, 'Industry: type 4': 2, 'Trade: type 6': 1,
                                 'Insurance': 1, 'Industry: type 5': 2, 'Telecom': 2, 'Emergency': 2, 'Industry: type 2': 2, 'Advertising': 1, 'Realtor': 1,
                                 'Culture': 2, 'Industry: type 12': 2, 'Trade: type 1': 1, 'Mobile': 2, 'Legal Services': 2, 'Cleaning': 2, 'Transport: type 1': 2,
                                 'Industry: type 6': 2, 'Industry: type 10': 2, 'Religion': 2,  'Industry: type 13': 2, 'Trade: type 4': 1, 'Trade: type 5': 1,
                                 'Industry: type 8': 2}

    EMERGENCYSTATE_MODE_mapping = {'No': 0, 'Yes': 1}


    # Thực hiện ánh xạ cho từng cột trong DataFrame
    mappings = {'NAME_TYPE_SUITE': NAME_TYPE_SUITE_mapping, 'NAME_INCOME_TYPE': NAME_INCOME_TYPE_mapping,
                'NAME_EDUCATION_TYPE': NAME_EDUCATION_TYPE_mapping, 'NAME_FAMILY_STATUS': NAME_FAMILY_STATUS_mapping,
                'WEEKDAY_APPR_PROCESS_START': WEEKDAY_APPR_PROCESS_START_mapping, 'ORGANIZATION_TYPE': ORGANIZATION_TYPE_mapping,
                'EMERGENCYSTATE_MODE': EMERGENCYSTATE_MODE_mapping}

    for column in column_names:
        if column in data.columns and column in mappings:
            data.loc[:, column] = data[column].map(mappings[column])
            data[column] = data[column].astype('int64')

    return data
data = map_columns(data)

In [24]:
#One hot coding cho các columns Category còn lại:
OHC_cols = ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'EMERGENCYSTATE_MODE']
data = pd.get_dummies(data, columns = OHC_cols, drop_first=True)

In [25]:
data

,TARGET,CNT_CHILDREN,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_PHONE,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_2,EXT_SOURCE_3,FLOORSMAX_AVG,FLOORSMAX_MODE,FLOORSMAX_MEDI,TOTALAREA_MODE,DEF_30_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_6,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_11,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_18,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_M,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_Y,EMERGENCYSTATE_MODE_1
0,1,0,351000.0,0,2,1,0,1,0.018801,-9461,-637.0,-3648.0,-2120,1,0,1,0,1.0,2,2,2,10,0,0,0,0,0,1,0.262949,0.139376,0.0833,0.0833,0.0833,0.0149,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0.0,0.0,1.0,False,True,False,True,False
1,0,0,1129500.0,3,3,3,1,1,0.003541,-16765,-1188.0,-1186.0,-291,1,0,1,2,2.0,1,1,0,11,0,0,0,0,0,2,0.622246,0.535276,0.2917,0.2917,0.2917,0.0714,0.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,False,False,False,False,False
2,0,0,135000.0,0,2,1,0,1,0.010032,-19046,-225.0,-4260.0,-2531,1,1,1,0,1.0,2,2,0,9,0,0,0,0,0,2,0.555912,0.729567,0.1667,0.1667,0.1667,0.0688,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,True,True,True,True,False
3,0,0,297000.0,0,2,1,0,1,0.008019,-19005,-3039.0,-9833.0,-2437,1,0,0,0,2.0,2,2,2,17,0,0,0,0,0,1,0.650442,0.535276,0.1667,0.1667,0.1667,0.0688,0.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,False,False,False,True,False
4,0,0,513000.0,0,2,1,0,1,0.028663,-19932,-3038.0,-4311.0,-3458,1,0,0,2,1.0,2,2,3,11,0,0,0,1,1,2,0.322738,0.535276,0.1667,0.1667,0.1667,0.0688,0.0,0.0,-1106.0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,0,0,225000.0,0,2,1,0,0,0.032561,-9327,-236.0,-8456.0,-1982,1,0,0,1,1.0,1,1,3,15,0,0,0,0,0,1,0.681632,0.535276,0.6042,0.4583,0.6042,0.2898,0.0,0.0,-273.0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,False,True,False,False,False
307507,0,0,225000.0,0,1,1,0,1,0.025164,-20775,-1648.0,-4388.0,-4090,0,0,1,0,1.0,2,2,0,8,0,0,0,0,0,0,0.115992,0.535276,0.0833,0.0833,0.0833,0.0214,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,False,False,False,True,False
307508,0,0,585000.0,0,2,3,0,1,0.005002,-14966,-7921.0,-6737.0,-5150,1,0,0,2,1.0,3,3,3,9,0,0,0,1,1,2,0.535722,0.218859,0.1667,0.1667,0.1667,0.7970,0.0,0.0,-1909.0,0,1,0,0,0,0,0,0,0,0,0,1.0,0.0,1.0,False,False,False,True,False
307509,1,0,319500.0,0,3,1,1,1,0.005313,-11961,-4786.0,-2562.0,-931,1,0,0,0,2.0,2,2,2,9,0,0,1,1,0,1,0.514163,0.661024,0.0417,0.0417,0.0417,0.0086,0.0,0.0,-322.0,0,1,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,False,False,False,True,False
307510,0,0,675000.0,0,3,3,1,1,0.046220,-16856,-1262.0,-5128.0,-410,1,1,1,0,2.0,1,1,3,20,0,0,0,1,1,1,0.708569,0.113922,0.3750,0.3750,0.3750,0.0718,0.0,0.0,-787.0,0,1,0,0,0,0,0,0,0,0,0,2.0,0.0,1.0,False,False,False,False,False

# **PREDICTION**

In [26]:
#Hàm đánh giá hiệu suất
def print_scores(y_test, y_pred):
  print(classification_report(y_test, y_pred))

#Hàm chia tập train-test và MinMax Scaler
def preprocess_data(data, test_size=0.2, random_state=42):

    # Chia tập train-test
    X = data.drop(columns=['TARGET'], axis=1)
    features = X.columns

    y = data['TARGET']

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state)

    #MinMax Scaler
    scaler = MinMaxScaler()
    X_train = scaler.fit_transform(X_train)
    X_test = scaler.transform(X_test)

    return X_train, X_test, y_train, y_test

In [ ]:
X_train, X_test, y_train, y_test = preprocess_data(data)

***1.Random Forest:*** *Overfitting*

In [ ]:
model_RF = RandomForestClassifier(n_estimators=200, random_state=42, class_weight = 'balanced')
model_RF.fit(X_train, y_train)

y_train_pred = model_RF.predict(X_train)
y_test_pred = model_RF.predict(X_test)

print_scores(y_train, y_train_pred)
print_scores(y_test, y_test_pred)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    225077
           1       1.00      1.00      1.00     19818

    accuracy                           1.00    244895
   macro avg       1.00      1.00      1.00    244895
weighted avg       1.00      1.00      1.00    244895

              precision    recall  f1-score   support

           0       0.92      1.00      0.96     56275
           1       0.65      0.00      0.01      4949

    accuracy                           0.92     61224
   macro avg       0.79      0.50      0.48     61224
weighted avg       0.90      0.92      0.88     61224

***2.XGBOOST:*** *Có phần cải thiện hơn đôi chút, nhưng vẫn thấp*

In [ ]:
model_XGB = xgb.XGBClassifier(n_estimators=200, random_state=42)
model_XGB.fit(X_train, y_train)

y_train_pred = model_XGB.predict(X_train)
y_test_pred = model_XGB.predict(X_test)

print_scores(y_train, y_train_pred)
print_scores(y_test, y_test_pred)

              precision    recall  f1-score   support

           0       0.93      1.00      0.96    225077
           1       0.91      0.11      0.19     19818

    accuracy                           0.93    244895
   macro avg       0.92      0.55      0.58    244895
weighted avg       0.93      0.93      0.90    244895

              precision    recall  f1-score   support

           0       0.92      1.00      0.96     56275
           1       0.43      0.03      0.06      4949

    accuracy                           0.92     61224
   macro avg       0.68      0.51      0.51     61224
weighted avg       0.88      0.92      0.88     61224

***3.SMOTE tích hợp XGBOOST: *** *Không có cải thiện thêm*

In [ ]:
# Áp dụng SMOTE để tăng cường lớp 1
class_counts = y_train.value_counts()
smote = SMOTE(sampling_strategy={1: class_counts[0]}, random_state=42)
X_train_resample, y_train_resample = smote.fit_resample(X_train, y_train)

In [ ]:
model_XGB_2 = xgb.XGBClassifier(n_estimators=200, random_state=42)
model_XGB_2.fit(X_train_resample, y_train_resample)

y_train_pred = model_XGB_2.predict(X_train_resample)
y_test_pred = model_XGB_2.predict(X_test)

print_scores(y_train_resample, y_train_pred)
print_scores(y_test, y_test_pred)

              precision    recall  f1-score   support

           0       0.92      1.00      0.96    225077
           1       1.00      0.92      0.96    225077

    accuracy                           0.96    450154
   macro avg       0.96      0.96      0.96    450154
weighted avg       0.96      0.96      0.96    450154

              precision    recall  f1-score   support

           0       0.92      1.00      0.96     56275
           1       0.41      0.04      0.07      4949

    accuracy                           0.92     61224
   macro avg       0.67      0.52      0.51     61224
weighted avg       0.88      0.92      0.89     61224

***4.UNDER SAMPLING:*** *Tốt hơn hẳn, có thể xem xét cải thiện*

In [27]:
df0 = data[data['TARGET']==0]
df1 = data[data['TARGET']==1]

In [33]:
#Kiểm định IQR cho các columns của df0:
IQR_list = ['DAYS_EMPLOYED', 'FLOORSMAX_AVG', 'FLOORSMAX_MEDI', 'TOTALAREA_MODE']

for i in IQR_list:
  #tính toán IQR thông qua Q1,
  Q1 = df0[i].quantile(0.25)
  Q3 = df0[i].quantile(0.75)
  IQR = Q3 - Q1

  # Xác định ngưỡng cho giá trị ngoại lệ
  lower_bound = Q1 - 1.5 * IQR
  upper_bound = Q3 + 1.5 * IQR

  # Nếu bạn muốn loại bỏ các giá trị ngoại lệ
  df0 = df0[(df0[i] >= lower_bound) & (df0[i] <= upper_bound)]

print("Dữ liệu sau khi loại bỏ Outliers sử dụng IQR:")
print(df0.shape)

Dữ liệu sau khi loại bỏ Outliers sử dụng IQR:
(124866, 56)

In [34]:
df0_under = df0.sample(30000, random_state=42)

In [35]:
data_under = pd.concat([df0_under, df1])
data_under = data_under.sample(frac=1, random_state=42)

In [36]:
X_train_under, X_test_under, y_train_under, y_test_under = preprocess_data(data_under)

In [37]:
model_XGB_3 = xgb.XGBClassifier(n_estimators=200, random_state=42)
model_XGB_3.fit(X_train_under, y_train_under)

y_train_pred = model_XGB_3.predict(X_train_under)
y_test_pred = model_XGB_3.predict(X_test_under)

print_scores(y_train_under, y_train_pred)
print_scores(y_test_under, y_test_pred)

              precision    recall  f1-score   support

           0       0.87      0.97      0.92     24006
           1       0.96      0.83      0.89     19807

    accuracy                           0.90     43813
   macro avg       0.91      0.90      0.90     43813
weighted avg       0.91      0.90      0.90     43813

              precision    recall  f1-score   support

           0       0.75      0.87      0.80      5994
           1       0.80      0.65      0.72      4960

    accuracy                           0.77     10954
   macro avg       0.78      0.76      0.76     10954
weighted avg       0.77      0.77      0.77     10954

***5.Tối ưu hóa bằng UNDERSAMPLING vs CATBOOST:*** *Không cải thiện so với Under*

In [ ]:
def objective(trial):
  model_CB = CatBoostClassifier(
    iterations=trial.suggest_int("iterations", 100, 1000),
    learning_rate=trial.suggest_float("learning_rate", 1e-3, 1e-1, log=True),
    depth=trial.suggest_int("depth", 4, 10),
    boosting_type=trial.suggest_categorical("boosting_type", ["Ordered", "Plain"]),
    bootstrap_type=trial.suggest_categorical("bootstrap_type", ["Bayesian", "MVS"]),
    l2_leaf_reg=trial.suggest_float("l2_leaf_reg", 1e-8, 100.0, log=True),
    random_strength=trial.suggest_float("random_strength", 1e-8, 10.0, log=True),
    bagging_temperature=trial.suggest_float("bagging_temperature", 0.0, 10.0),
    od_type=trial.suggest_categorical("od_type", ["IncToDec", "Iter"]),
    od_wait=trial.suggest_int("od_wait", 10, 50),
    min_data_in_leaf=trial.suggest_int("min_data_in_leaf", 51, 120),
    loss_function='Logloss',
    eval_metric='Logloss',
    task_type='CPU',  # Chạy trên CPU thay vì GPU
    verbose=False,
)

In [ ]:
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=100)

[I 2024-08-25 15:39:20,740] A new study created in memory with name: no-name-a209748a-c4b3-48b4-8213-3717ca8b8dee
[W 2024-08-25 15:39:20,749] Trial 0 failed with parameters: {'iterations': 344, 'learning_rate': 0.04788300130721402, 'depth': 4, 'boosting_type': 'Ordered', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 0.00204860845522725, 'random_strength': 0.0005982358475085985, 'bagging_temperature': 2.4996278129554863, 'od_type': 'IncToDec', 'od_wait': 19, 'min_data_in_leaf': 109} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,751] Trial 0 failed with value None.
[W 2024-08-25 15:39:20,756] Trial 1 failed with parameters: {'iterations': 825, 'learning_rate': 0.030589673753801276, 'depth': 6, 'boosting_type': 'Plain', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 9.286130181904198e-06, 'random_strength': 4.07361694630295e-05, 'bagging_temperature': 0.8247374101647853, 'od_type': 'IncToDec', 'od_wait': 23, 'min_data_in_leaf': 96} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,760] Trial 1 failed with value None.
[W 2024-08-25 15:39:20,764] Trial 2 failed with parameters: {'iterations': 657, 'learning_rate': 0.025180202588395692, 'depth': 4, 'boosting_type': 'Plain', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 5.473418282330667e-08, 'random_strength': 2.5500154565243784, 'bagging_temperature': 9.238767785558759, 'od_type': 'Iter', 'od_wait': 38, 'min_data_in_leaf': 115} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,769] Trial 2 failed with value None.
[W 2024-08-25 15:39:20,774] Trial 3 failed with parameters: {'iterations': 120, 'learning_rate': 0.026626615010324324, 'depth': 9, 'boosting_type': 'Ordered', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 5.220605456606432, 'random_strength': 0.03162130973046009, 'bagging_temperature': 6.377511081055585, 'od_type': 'Iter', 'od_wait': 49, 'min_data_in_leaf': 83} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,780] Trial 3 failed with value None.
[W 2024-08-25 15:39:20,785] Trial 4 failed with parameters: {'iterations': 142, 'learning_rate': 0.010002188284392673, 'depth': 4, 'boosting_type': 'Ordered', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 0.07141586273870303, 'random_strength': 4.0712848802933816e-05, 'bagging_temperature': 4.893351897705708, 'od_type': 'IncToDec', 'od_wait': 41, 'min_data_in_leaf': 53} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,794] Trial 4 failed with value None.
[W 2024-08-25 15:39:20,799] Trial 5 failed with parameters: {'iterations': 875, 'learning_rate': 0.040769861099586045, 'depth': 4, 'boosting_type': 'Ordered', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 0.02059704473696005, 'random_strength': 1.1084970882859255, 'bagging_temperature': 9.355770575317045, 'od_type': 'IncToDec', 'od_wait': 27, 'min_data_in_leaf': 110} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,802] Trial 5 failed with value None.
[W 2024-08-25 15:39:20,807] Trial 6 failed with parameters: {'iterations': 432, 'learning_rate': 0.0021797762280208934, 'depth': 9, 'boosting_type': 'Plain', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 0.0035072586617077494, 'random_strength': 0.011753872244207396, 'bagging_temperature': 0.7301366476130766, 'od_type': 'Iter', 'od_wait': 23, 'min_data_in_leaf': 113} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,810] Trial 6 failed with value None.
[W 2024-08-25 15:39:20,815] Trial 7 failed with parameters: {'iterations': 119, 'learning_rate': 0.0055995641022942595, 'depth': 6, 'boosting_type': 'Plain', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 0.03816001291992978, 'random_strength': 0.00028359024618185064, 'bagging_temperature': 9.08518296308339, 'od_type': 'IncToDec', 'od_wait': 40, 'min_data_in_leaf': 112} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,816] Trial 7 failed with value None.
[W 2024-08-25 15:39:20,822] Trial 8 failed with parameters: {'iterations': 102, 'learning_rate': 0.0028714824365219473, 'depth': 7, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 0.00047877388642699815, 'random_strength': 0.15401810404719377, 'bagging_temperature': 9.383353370436835, 'od_type': 'IncToDec', 'od_wait': 31, 'min_data_in_leaf': 68} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,823] Trial 8 failed with value None.
[W 2024-08-25 15:39:20,828] Trial 9 failed with parameters: {'iterations': 301, 'learning_rate': 0.013207653353012223, 'depth': 5, 'boosting_type': 'Ordered', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 4.670661305658045e-07, 'random_strength': 0.01531302409638858, 'bagging_temperature': 1.3346047948363915, 'od_type': 'IncToDec', 'od_wait': 46, 'min_data_in_leaf': 87} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,829] Trial 9 failed with value None.
[W 2024-08-25 15:39:20,835] Trial 10 failed with parameters: {'iterations': 374, 'learning_rate': 0.0018381667799846966, 'depth': 6, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 2.8993228310188872e-08, 'random_strength': 2.592332083370286, 'bagging_temperature': 1.2776234532585606, 'od_type': 'Iter', 'od_wait': 13, 'min_data_in_leaf': 119} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,836] Trial 10 failed with value None.
[W 2024-08-25 15:39:20,842] Trial 11 failed with parameters: {'iterations': 739, 'learning_rate': 0.08430259362655525, 'depth': 8, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 3.374194308901644e-05, 'random_strength': 3.266865718079528e-05, 'bagging_temperature': 6.511828557192625, 'od_type': 'IncToDec', 'od_wait': 25, 'min_data_in_leaf': 52} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,843] Trial 11 failed with value None.
[W 2024-08-25 15:39:20,848] Trial 12 failed with parameters: {'iterations': 217, 'learning_rate': 0.014173119581383235, 'depth': 10, 'boosting_type': 'Ordered', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 0.0006995649314819042, 'random_strength': 9.374499099194589e-07, 'bagging_temperature': 9.256795662187013, 'od_type': 'IncToDec', 'od_wait': 50, 'min_data_in_leaf': 63} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,849] Trial 12 failed with value None.
[W 2024-08-25 15:39:20,854] Trial 13 failed with parameters: {'iterations': 263, 'learning_rate': 0.02013133385307778, 'depth': 6, 'boosting_type': 'Plain', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 10.501014977214112, 'random_strength': 1.226954504095725e-08, 'bagging_temperature': 6.609572316674273, 'od_type': 'IncToDec', 'od_wait': 41, 'min_data_in_leaf': 81} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,855] Trial 13 failed with value None.
[W 2024-08-25 15:39:20,861] Trial 14 failed with parameters: {'iterations': 487, 'learning_rate': 0.0912194403550601, 'depth': 10, 'boosting_type': 'Plain', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 3.316854212112714, 'random_strength': 2.4705716342977384, 'bagging_temperature': 8.391560365082743, 'od_type': 'IncToDec', 'od_wait': 47, 'min_data_in_leaf': 71} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,862] Trial 14 failed with value None.
[W 2024-08-25 15:39:20,867] Trial 15 failed with parameters: {'iterations': 482, 'learning_rate': 0.0037077869101694826, 'depth': 5, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 0.3007567729254239, 'random_strength': 1.328194323999421e-07, 'bagging_temperature': 4.563866287641668, 'od_type': 'Iter', 'od_wait': 31, 'min_data_in_leaf': 81} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,868] Trial 15 failed with value None.
[W 2024-08-25 15:39:20,873] Trial 16 failed with parameters: {'iterations': 743, 'learning_rate': 0.03720682695464312, 'depth': 6, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 0.02669033028535773, 'random_strength': 0.11232669800827703, 'bagging_temperature': 4.162459895312351, 'od_type': 'Iter', 'od_wait': 42, 'min_data_in_leaf': 62} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,874] Trial 16 failed with value None.
[W 2024-08-25 15:39:20,879] Trial 17 failed with parameters: {'iterations': 668, 'learning_rate': 0.01596107271401974, 'depth': 6, 'boosting_type': 'Plain', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 0.6140170187425075, 'random_strength': 3.5928025002237463, 'bagging_temperature': 6.743400587401588, 'od_type': 'IncToDec', 'od_wait': 27, 'min_data_in_leaf': 77} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,880] Trial 17 failed with value None.
[W 2024-08-25 15:39:20,886] Trial 18 failed with parameters: {'iterations': 756, 'learning_rate': 0.021475764877493683, 'depth': 10, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 44.27131900945847, 'random_strength': 0.0001842554518754828, 'bagging_temperature': 2.9421369763634986, 'od_type': 'Iter', 'od_wait': 48, 'min_data_in_leaf': 99} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,887] Trial 18 failed with value None.
[W 2024-08-25 15:39:20,892] Trial 19 failed with parameters: {'iterations': 439, 'learning_rate': 0.0024625503809396895, 'depth': 6, 'boosting_type': 'Ordered', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 0.0005679654356737802, 'random_strength': 5.617144624805511, 'bagging_temperature': 8.034229268553501, 'od_type': 'IncToDec', 'od_wait': 23, 'min_data_in_leaf': 91} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,893] Trial 19 failed with value None.
[W 2024-08-25 15:39:20,898] Trial 20 failed with parameters: {'iterations': 295, 'learning_rate': 0.005492353448668549, 'depth': 5, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 0.00024798577146260494, 'random_strength': 0.04938897513093833, 'bagging_temperature': 4.892245633189973, 'od_type': 'Iter', 'od_wait': 31, 'min_data_in_leaf': 94} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,899] Trial 20 failed with value None.
[W 2024-08-25 15:39:20,905] Trial 21 failed with parameters: {'iterations': 199, 'learning_rate': 0.0015745200171379638, 'depth': 8, 'boosting_type': 'Ordered', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 60.62102288309677, 'random_strength': 1.303562194375897e-06, 'bagging_temperature': 4.23691745389249, 'od_type': 'Iter', 'od_wait': 27, 'min_data_in_leaf': 66} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,906] Trial 21 failed with value None.
[W 2024-08-25 15:39:20,911] Trial 22 failed with parameters: {'iterations': 321, 'learning_rate': 0.04779202052054722, 'depth': 6, 'boosting_type': 'Ordered', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 0.0002714083358221666, 'random_strength': 1.2876337263316163e-07, 'bagging_temperature': 2.3513794222654525, 'od_type': 'IncToDec', 'od_wait': 15, 'min_data_in_leaf': 102} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,912] Trial 22 failed with value None.
[W 2024-08-25 15:39:20,919] Trial 23 failed with parameters: {'iterations': 316, 'learning_rate': 0.04017735613324525, 'depth': 5, 'boosting_type': 'Ordered', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 5.480191504673937, 'random_strength': 0.00022736856951632246, 'bagging_temperature': 8.114389984225408, 'od_type': 'Iter', 'od_wait': 21, 'min_data_in_leaf': 101} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,920] Trial 23 failed with value None.
[W 2024-08-25 15:39:20,924] Trial 24 failed with parameters: {'iterations': 586, 'learning_rate': 0.0029026898589414995, 'depth': 9, 'boosting_type': 'Ordered', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 0.00020588093487388742, 'random_strength': 1.627253193056141e-07, 'bagging_temperature': 5.214407621137108, 'od_type': 'Iter', 'od_wait': 10, 'min_data_in_leaf': 95} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,925] Trial 24 failed with value None.
[W 2024-08-25 15:39:20,931] Trial 25 failed with parameters: {'iterations': 432, 'learning_rate': 0.014124268479043202, 'depth': 4, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 0.0036079757597339557, 'random_strength': 0.008657520722884634, 'bagging_temperature': 8.919929707664325, 'od_type': 'IncToDec', 'od_wait': 48, 'min_data_in_leaf': 105} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,933] Trial 25 failed with value None.
[W 2024-08-25 15:39:20,937] Trial 26 failed with parameters: {'iterations': 696, 'learning_rate': 0.013091393717901951, 'depth': 9, 'boosting_type': 'Ordered', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 0.013572490384258763, 'random_strength': 8.717149901775937e-06, 'bagging_temperature': 1.9083138396252697, 'od_type': 'Iter', 'od_wait': 24, 'min_data_in_leaf': 97} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,939] Trial 26 failed with value None.
[W 2024-08-25 15:39:20,943] Trial 27 failed with parameters: {'iterations': 619, 'learning_rate': 0.01266344322610651, 'depth': 7, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 7.615081245911988e-07, 'random_strength': 0.24772599447695595, 'bagging_temperature': 0.7162407689095618, 'od_type': 'Iter', 'od_wait': 42, 'min_data_in_leaf': 62} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,946] Trial 27 failed with value None.
[W 2024-08-25 15:39:20,951] Trial 28 failed with parameters: {'iterations': 867, 'learning_rate': 0.00977466437835955, 'depth': 4, 'boosting_type': 'Plain', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 0.00012423165780057596, 'random_strength': 1.2582366063046842e-07, 'bagging_temperature': 8.175172365162812, 'od_type': 'IncToDec', 'od_wait': 45, 'min_data_in_leaf': 98} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,953] Trial 28 failed with value None.
[W 2024-08-25 15:39:20,957] Trial 29 failed with parameters: {'iterations': 147, 'learning_rate': 0.002698151927735963, 'depth': 9, 'boosting_type': 'Plain', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 0.0001165034690751015, 'random_strength': 2.871933965869025e-07, 'bagging_temperature': 7.571830487886205, 'od_type': 'Iter', 'od_wait': 25, 'min_data_in_leaf': 88} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,960] Trial 29 failed with value None.
[W 2024-08-25 15:39:20,965] Trial 30 failed with parameters: {'iterations': 437, 'learning_rate': 0.010954484652613807, 'depth': 8, 'boosting_type': 'Plain', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 0.0001930920052458275, 'random_strength': 4.065239466223639e-06, 'bagging_temperature': 6.182090548454079, 'od_type': 'IncToDec', 'od_wait': 30, 'min_data_in_leaf': 55} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,967] Trial 30 failed with value None.
[W 2024-08-25 15:39:20,972] Trial 31 failed with parameters: {'iterations': 607, 'learning_rate': 0.0024272586001257974, 'depth': 8, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 0.0026245968689186747, 'random_strength': 1.4671944952738642e-05, 'bagging_temperature': 3.8370746152891955, 'od_type': 'IncToDec', 'od_wait': 42, 'min_data_in_leaf': 107} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,973] Trial 31 failed with value None.
[W 2024-08-25 15:39:20,980] Trial 32 failed with parameters: {'iterations': 307, 'learning_rate': 0.022256021020531272, 'depth': 7, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 38.14105022793142, 'random_strength': 0.037428125846243124, 'bagging_temperature': 0.7766776599275416, 'od_type': 'Iter', 'od_wait': 18, 'min_data_in_leaf': 55} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,981] Trial 32 failed with value None.
[W 2024-08-25 15:39:20,987] Trial 33 failed with parameters: {'iterations': 824, 'learning_rate': 0.010599631193348594, 'depth': 6, 'boosting_type': 'Plain', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 66.89036894723618, 'random_strength': 0.07461211500684628, 'bagging_temperature': 2.2556687426328215, 'od_type': 'Iter', 'od_wait': 16, 'min_data_in_leaf': 114} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,988] Trial 33 failed with value None.
[W 2024-08-25 15:39:20,994] Trial 34 failed with parameters: {'iterations': 785, 'learning_rate': 0.0021905818865486986, 'depth': 9, 'boosting_type': 'Ordered', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 1.4620879948641583e-06, 'random_strength': 7.358539175944239, 'bagging_temperature': 7.990607379624652, 'od_type': 'Iter', 'od_wait': 47, 'min_data_in_leaf': 58} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:20,995] Trial 34 failed with value None.
[W 2024-08-25 15:39:21,001] Trial 35 failed with parameters: {'iterations': 269, 'learning_rate': 0.014629876241315837, 'depth': 10, 'boosting_type': 'Ordered', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 1.4255412171560546, 'random_strength': 0.00012732730731887466, 'bagging_temperature': 5.481865205395544, 'od_type': 'Iter', 'od_wait': 43, 'min_data_in_leaf': 77} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:21,002] Trial 35 failed with value None.
[W 2024-08-25 15:39:21,007] Trial 36 failed with parameters: {'iterations': 661, 'learning_rate': 0.06308188406342051, 'depth': 10, 'boosting_type': 'Plain', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 6.3317933956211716e-06, 'random_strength': 0.2567413215378329, 'bagging_temperature': 8.644132892165354, 'od_type': 'IncToDec', 'od_wait': 35, 'min_data_in_leaf': 118} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:21,012] Trial 36 failed with value None.
[W 2024-08-25 15:39:21,016] Trial 37 failed with parameters: {'iterations': 247, 'learning_rate': 0.012504266768316695, 'depth': 4, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS', 'l2_leaf_reg': 0.02195989282592878, 'random_strength': 1.0987648822751008e-07, 'bagging_temperature': 3.723946380169636, 'od_type': 'IncToDec', 'od_wait': 41, 'min_data_in_leaf': 65} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:21,017] Trial 37 failed with value None.
[W 2024-08-25 15:39:21,023] Trial 38 failed with parameters: {'iterations': 775, 'learning_rate': 0.023093838610637563, 'depth': 10, 'boosting_type': 'Plain', 'bootstrap_type': 'Bayesian', 'l2_leaf_reg': 0.004849423858934177, 'random_strength': 2.4020737964684705e-05, 'bagging_temperature': 1.133259314345173, 'od_type': 'IncToDec', 'od_wait': 16, 'min_data_in_leaf': 118} because of the following error: The value None could not be cast to float..
[W 2024-08-25 15:39:21,024] Trial 38 failed with value None.

In [ ]:
best_params = {'iterations': 277, 'learning_rate': 0.0035690005606886224, 'depth': 8, 'boosting_type': 'Ordered',
               'bootstrap_type': 'MVS', 'l2_leaf_reg': 4.630242174115198e-05, 'random_strength': 1.9086788208321497,
               'bagging_temperature': 2.6585254414439854, 'od_type': 'IncToDec', 'od_wait': 41, 'min_data_in_leaf': 91}

In [ ]:
# Huấn luyện mô hình với hyperparameters tốt nhất
best_params = best_params
model_CB = CatBoostClassifier(**best_params)
model_CB.fit(X_train_under, y_train_under)

probs = model_CB.predict_proba(X_test_under)
y_train_pred = model_CB.predict(X_train_under)
y_test_pred = model_CB.predict(X_test_under)

print(probs)
print(classification_report(y_train_under, y_train_pred))
print(classification_report(y_test_under, y_test_pred))

0:	learn: 0.6926178	total: 374ms	remaining: 1m 43s
1:	learn: 0.6920894	total: 699ms	remaining: 1m 36s
2:	learn: 0.6915763	total: 1.01s	remaining: 1m 32s
3:	learn: 0.6911062	total: 1.29s	remaining: 1m 27s
4:	learn: 0.6905966	total: 1.59s	remaining: 1m 26s
5:	learn: 0.6900796	total: 1.9s	remaining: 1m 26s
6:	learn: 0.6895753	total: 2.22s	remaining: 1m 25s
7:	learn: 0.6891369	total: 2.53s	remaining: 1m 24s
8:	learn: 0.6887088	total: 2.82s	remaining: 1m 23s
9:	learn: 0.6882185	total: 3s	remaining: 1m 20s
10:	learn: 0.6877515	total: 3.17s	remaining: 1m 16s
11:	learn: 0.6872469	total: 3.34s	remaining: 1m 13s
12:	learn: 0.6867863	total: 3.5s	remaining: 1m 11s
13:	learn: 0.6862855	total: 3.7s	remaining: 1m 9s
14:	learn: 0.6857964	total: 3.87s	remaining: 1m 7s
15:	learn: 0.6853712	total: 4.04s	remaining: 1m 5s
16:	learn: 0.6848835	total: 4.21s	remaining: 1m 4s
17:	learn: 0.6843855	total: 4.38s	remaining: 1m 3s
18:	learn: 0.6839118	total: 4.55s	remaining: 1m 1s
19:	learn: 0.6834653	total: 4.73s	remaining: 1m
20:	learn: 0.6829793	total: 4.91s	remaining: 59.8s
21:	learn: 0.6825439	total: 5.07s	remaining: 58.8s
22:	learn: 0.6821185	total: 5.24s	remaining: 57.8s
23:	learn: 0.6816564	total: 5.4s	remaining: 57s
24:	learn: 0.6812342	total: 5.57s	remaining: 56.2s
25:	learn: 0.6808281	total: 5.75s	remaining: 55.5s
26:	learn: 0.6803752	total: 5.93s	remaining: 54.9s
27:	learn: 0.6799508	total: 6.09s	remaining: 54.2s
28:	learn: 0.6795101	total: 6.26s	remaining: 53.5s
29:	learn: 0.6790982	total: 6.42s	remaining: 52.9s
30:	learn: 0.6786724	total: 6.59s	remaining: 52.3s
31:	learn: 0.6782819	total: 6.77s	remaining: 51.8s
32:	learn: 0.6778032	total: 6.95s	remaining: 51.4s
33:	learn: 0.6774279	total: 7.05s	remaining: 50.4s
34:	learn: 0.6770177	total: 7.22s	remaining: 49.9s
35:	learn: 0.6765750	total: 7.39s	remaining: 49.5s
36:	learn: 0.6761626	total: 7.56s	remaining: 49s
37:	learn: 0.6757321	total: 7.74s	remaining: 48.7s
38:	learn: 0.6753413	total: 7.86s	remaining: 47.9s
39:	learn: 0.6749187	total: 8.02s	remaining: 47.5s
40:	learn: 0.6745190	total: 8.19s	remaining: 47.1s
41:	learn: 0.6741184	total: 8.36s	remaining: 46.8s
42:	learn: 0.6737543	total: 8.52s	remaining: 46.4s
43:	learn: 0.6733754	total: 8.7s	remaining: 46s
44:	learn: 0.6730102	total: 8.88s	remaining: 45.8s
45:	learn: 0.6726043	total: 9.05s	remaining: 45.4s
46:	learn: 0.6722568	total: 9.21s	remaining: 45.1s
47:	learn: 0.6718546	total: 9.38s	remaining: 44.8s
48:	learn: 0.6715208	total: 9.55s	remaining: 44.4s
49:	learn: 0.6711481	total: 9.71s	remaining: 44.1s
50:	learn: 0.6707879	total: 9.91s	remaining: 43.9s
51:	learn: 0.6703688	total: 10.1s	remaining: 43.6s
52:	learn: 0.6700323	total: 10.2s	remaining: 43s
53:	learn: 0.6696842	total: 10.3s	remaining: 42.7s
54:	learn: 0.6693354	total: 10.5s	remaining: 42.4s
55:	learn: 0.6689537	total: 10.7s	remaining: 42.1s
56:	learn: 0.6686047	total: 10.9s	remaining: 41.9s
57:	learn: 0.6682354	total: 11s	remaining: 41.7s
58:	learn: 0.6678918	total: 11.2s	remaining: 41.4s
59:	learn: 0.6675268	total: 11.4s	remaining: 41.2s
60:	learn: 0.6671788	total: 11.5s	remaining: 40.9s
61:	learn: 0.6668430	total: 11.7s	remaining: 40.6s
62:	learn: 0.6664751	total: 11.9s	remaining: 40.4s
63:	learn: 0.6661751	total: 12.1s	remaining: 40.2s
64:	learn: 0.6658099	total: 12.2s	remaining: 39.9s
65:	learn: 0.6654577	total: 12.4s	remaining: 39.6s
66:	learn: 0.6651063	total: 12.5s	remaining: 39.2s
67:	learn: 0.6647727	total: 12.7s	remaining: 38.9s
68:	learn: 0.6644659	total: 12.8s	remaining: 38.7s
69:	learn: 0.6641477	total: 13.1s	remaining: 38.8s
70:	learn: 0.6637947	total: 13.4s	remaining: 39s
71:	learn: 0.6634595	total: 13.7s	remaining: 39.1s
72:	learn: 0.6631292	total: 14.1s	remaining: 39.3s
73:	learn: 0.6627820	total: 14.3s	remaining: 39.3s
74:	learn: 0.6624549	total: 14.6s	remaining: 39.4s
75:	learn: 0.6621209	total: 14.9s	remaining: 39.4s
76:	learn: 0.6618248	total: 15.2s	remaining: 39.5s
77:	learn: 0.6615119	total: 15.5s	remaining: 39.5s
78:	learn: 0.6611652	total: 15.8s	remaining: 39.5s
79:	learn: 0.6608818	total: 16.1s	remaining: 39.5s
80:	learn: 0.6605507	total: 16.4s	remaining: 39.6s
81:	learn: 0.6602297	total: 16.7s	remaining: 39.6s
82:	learn: 0.6598813	total: 17s	remaining: 39.7s
83:	learn: 0.6595925	total: 17.3s	remaining: 39.7s
84:	learn: 0.6593045	total: 17.6s	remaining: 39.8s
85:	learn: 0.6589795	total: 17.8s	remaining: 39.5s
86:	learn: 0.6586835	total: 17.9s	remaining: 39.2s
87:	learn: 0.6583951	total: 18.1s	remaining: 38.9s
88:	learn: 0.6581038	total: 18.3s	remaining: 38.6s
89:	learn: 0.6578137	total: 18.5s	remaining: 38.3s
90:	learn: 0.6575313	total: 18.6s	remaining: 38.1s
91:	learn: 0.6572342	total: 18.8s	remaining: 37.8s
92:	learn: 0.6569309	total: 19s	remaining: 37.5s
93:	learn: 0.6566068	total: 19.1s	remaining: 37.2s
94:	learn: 0.6562596	total: 19.3s	remaining: 37s
95:	learn: 0.6559765	total: 19.5s	remaining: 36.7s
96:	learn: 0.6556771	total: 19.6s	remaining: 36.4s
97:	learn: 0.6553810	total: 19.8s	remaining: 36.2s
98:	learn: 0.6550846	total: 20s	remaining: 36s
99:	learn: 0.6548316	total: 20.2s	remaining: 35.7s
100:	learn: 0.6546023	total: 20.3s	remaining: 35.3s
101:	learn: 0.6543268	total: 20.4s	remaining: 35.1s
102:	learn: 0.6540656	total: 20.6s	remaining: 34.8s
103:	learn: 0.6538207	total: 20.8s	remaining: 34.6s
104:	learn: 0.6535499	total: 21s	remaining: 34.3s
105:	learn: 0.6532898	total: 21.1s	remaining: 34.1s
106:	learn: 0.6530584	total: 21.3s	remaining: 33.8s
107:	learn: 0.6528130	total: 21.5s	remaining: 33.6s
108:	learn: 0.6525641	total: 21.6s	remaining: 33.4s
109:	learn: 0.6522993	total: 21.8s	remaining: 33.1s
110:	learn: 0.6520670	total: 22s	remaining: 32.9s
111:	learn: 0.6518285	total: 22.1s	remaining: 32.6s
112:	learn: 0.6516020	total: 22.3s	remaining: 32.4s
113:	learn: 0.6513392	total: 22.5s	remaining: 32.2s
114:	learn: 0.6510767	total: 22.7s	remaining: 31.9s
115:	learn: 0.6508267	total: 22.8s	remaining: 31.7s
116:	learn: 0.6505734	total: 23s	remaining: 31.4s
117:	learn: 0.6503336	total: 23.2s	remaining: 31.2s
118:	learn: 0.6501024	total: 23.3s	remaining: 31s
119:	learn: 0.6498794	total: 23.5s	remaining: 30.7s
120:	learn: 0.6496229	total: 23.7s	remaining: 30.5s
121:	learn: 0.6494012	total: 23.8s	remaining: 30.3s
122:	learn: 0.6491303	total: 24s	remaining: 30.1s
123:	learn: 0.6488862	total: 24.2s	remaining: 29.8s
124:	learn: 0.6486557	total: 24.3s	remaining: 29.6s
125:	learn: 0.6484415	total: 24.5s	remaining: 29.4s
126:	learn: 0.6482009	total: 24.7s	remaining: 29.1s
127:	learn: 0.6479870	total: 24.8s	remaining: 28.9s
128:	learn: 0.6477367	total: 25s	remaining: 28.7s
129:	learn: 0.6475526	total: 25.2s	remaining: 28.5s
130:	learn: 0.6473175	total: 25.3s	remaining: 28.2s
131:	learn: 0.6471147	total: 25.5s	remaining: 28s
132:	learn: 0.6468757	total: 25.7s	remaining: 27.8s
133:	learn: 0.6466538	total: 25.9s	remaining: 27.6s
134:	learn: 0.6464161	total: 26s	remaining: 27.4s
135:	learn: 0.6462273	total: 26.2s	remaining: 27.2s
136:	learn: 0.6460090	total: 26.4s	remaining: 26.9s
137:	learn: 0.6457816	total: 26.5s	remaining: 26.7s
138:	learn: 0.6455655	total: 26.7s	remaining: 26.5s
139:	learn: 0.6453857	total: 26.9s	remaining: 26.3s
140:	learn: 0.6451583	total: 27s	remaining: 26.1s
141:	learn: 0.6449339	total: 27.2s	remaining: 25.9s
142:	learn: 0.6447425	total: 27.4s	remaining: 25.6s
143:	learn: 0.6445512	total: 27.5s	remaining: 25.4s
144:	learn: 0.6443587	total: 27.8s	remaining: 25.3s
145:	learn: 0.6441497	total: 28.1s	remaining: 25.2s
146:	learn: 0.6439465	total: 28.4s	remaining: 25.1s
147:	learn: 0.6437188	total: 28.7s	remaining: 25s
148:	learn: 0.6435090	total: 29s	remaining: 24.9s
149:	learn: 0.6433389	total: 29.3s	remaining: 24.8s
150:	learn: 0.6431831	total: 29.4s	remaining: 24.6s
151:	learn: 0.6430083	total: 29.6s	remaining: 24.3s
152:	learn: 0.6427873	total: 29.8s	remaining: 24.2s
153:	learn: 0.6425700	total: 30.1s	remaining: 24.1s
154:	learn: 0.6423741	total: 30.4s	remaining: 24s
155:	learn: 0.6422024	total: 30.6s	remaining: 23.8s
156:	learn: 0.6420213	total: 30.9s	remaining: 23.6s
157:	learn: 0.6418412	total: 31.2s	remaining: 23.5s
158:	learn: 0.6416562	total: 31.6s	remaining: 23.4s
159:	learn: 0.6414770	total: 31.8s	remaining: 23.3s
160:	learn: 0.6412966	total: 32.1s	remaining: 23.2s
161:	learn: 0.6410966	total: 32.3s	remaining: 22.9s
162:	learn: 0.6409164	total: 32.5s	remaining: 22.7s
163:	learn: 0.6407358	total: 32.6s	remaining: 22.5s
164:	learn: 0.6405790	total: 32.8s	remaining: 22.2s
165:	learn: 0.6403847	total: 32.9s	remaining: 22s
166:	learn: 0.6401909	total: 33.1s	remaining: 21.8s
167:	learn: 0.6400268	total: 33.3s	remaining: 21.6s
168:	learn: 0.6398254	total: 33.4s	remaining: 21.4s
169:	learn: 0.6396887	total: 33.5s	remaining: 21.1s
170:	learn: 0.6395328	total: 33.7s	remaining: 20.9s
171:	learn: 0.6393640	total: 33.8s	remaining: 20.7s
172:	learn: 0.6391973	total: 34s	remaining: 20.4s
173:	learn: 0.6390124	total: 34.2s	remaining: 20.2s
174:	learn: 0.6388347	total: 34.3s	remaining: 20s
175:	learn: 0.6386866	total: 34.5s	remaining: 19.8s
176:	learn: 0.6385058	total: 34.7s	remaining: 19.6s
177:	learn: 0.6383658	total: 34.9s	remaining: 19.4s
178:	learn: 0.6381915	total: 35s	remaining: 19.2s
179:	learn: 0.6379955	total: 35.2s	remaining: 19s
180:	learn: 0.6378301	total: 35.4s	remaining: 18.8s
181:	learn: 0.6376540	total: 35.5s	remaining: 18.5s
182:	learn: 0.6374723	total: 35.7s	remaining: 18.3s
183:	learn: 0.6373344	total: 35.9s	remaining: 18.1s
184:	learn: 0.6371790	total: 36s	remaining: 17.9s
185:	learn: 0.6370198	total: 36.2s	remaining: 17.7s
186:	learn: 0.6368760	total: 36.4s	remaining: 17.5s
187:	learn: 0.6367243	total: 36.5s	remaining: 17.3s
188:	learn: 0.6365801	total: 36.7s	remaining: 17.1s
189:	learn: 0.6364376	total: 36.9s	remaining: 16.9s
190:	learn: 0.6363018	total: 37.1s	remaining: 16.7s
191:	learn: 0.6361520	total: 37.2s	remaining: 16.5s
192:	learn: 0.6360183	total: 37.3s	remaining: 16.2s
193:	learn: 0.6358768	total: 37.5s	remaining: 16s
194:	learn: 0.6357391	total: 37.7s	remaining: 15.8s
195:	learn: 0.6356040	total: 37.8s	remaining: 15.6s
196:	learn: 0.6354444	total: 38s	remaining: 15.4s
197:	learn: 0.6353020	total: 38.2s	remaining: 15.2s
198:	learn: 0.6351573	total: 38.3s	remaining: 15s
199:	learn: 0.6349933	total: 38.5s	remaining: 14.8s
200:	learn: 0.6348348	total: 38.7s	remaining: 14.6s
201:	learn: 0.6346458	total: 38.8s	remaining: 14.4s
202:	learn: 0.6344741	total: 39s	remaining: 14.2s
203:	learn: 0.6343395	total: 39.2s	remaining: 14s
204:	learn: 0.6342113	total: 39.3s	remaining: 13.8s
205:	learn: 0.6340216	total: 39.4s	remaining: 13.6s
206:	learn: 0.6338899	total: 39.5s	remaining: 13.4s
207:	learn: 0.6337245	total: 39.7s	remaining: 13.2s
208:	learn: 0.6336099	total: 39.8s	remaining: 13s
209:	learn: 0.6334636	total: 40s	remaining: 12.8s
210:	learn: 0.6332992	total: 40.2s	remaining: 12.6s
211:	learn: 0.6331754	total: 40.3s	remaining: 12.4s
212:	learn: 0.6329958	total: 40.5s	remaining: 12.2s
213:	learn: 0.6328730	total: 40.7s	remaining: 12s
214:	learn: 0.6327340	total: 40.8s	remaining: 11.8s
215:	learn: 0.6325916	total: 41s	remaining: 11.6s
216:	learn: 0.6324433	total: 41.2s	remaining: 11.4s
217:	learn: 0.6322934	total: 41.4s	remaining: 11.2s
218:	learn: 0.6321498	total: 41.5s	remaining: 11s
219:	learn: 0.6320207	total: 41.6s	remaining: 10.8s
220:	learn: 0.6318798	total: 41.8s	remaining: 10.6s
221:	learn: 0.6317255	total: 42s	remaining: 10.4s
222:	learn: 0.6315771	total: 42.2s	remaining: 10.2s
223:	learn: 0.6314345	total: 42.5s	remaining: 10.1s
224:	learn: 0.6313095	total: 42.8s	remaining: 9.89s
225:	learn: 0.6311780	total: 43.1s	remaining: 9.73s
226:	learn: 0.6310634	total: 43.4s	remaining: 9.56s
227:	learn: 0.6309511	total: 43.7s	remaining: 9.39s
228:	learn: 0.6308277	total: 44s	remaining: 9.22s
229:	learn: 0.6306872	total: 44.3s	remaining: 9.06s
230:	learn: 0.6305639	total: 44.6s	remaining: 8.89s
231:	learn: 0.6304145	total: 45s	remaining: 8.72s
232:	learn: 0.6302967	total: 45.3s	remaining: 8.55s
233:	learn: 0.6301438	total: 45.6s	remaining: 8.37s
234:	learn: 0.6299922	total: 45.9s	remaining: 8.2s
235:	learn: 0.6298772	total: 46.2s	remaining: 8.02s
236:	learn: 0.6297383	total: 46.5s	remaining: 7.85s
237:	learn: 0.6296238	total: 46.8s	remaining: 7.67s
238:	learn: 0.6295181	total: 47s	remaining: 7.47s
239:	learn: 0.6293764	total: 47.1s	remaining: 7.27s
240:	learn: 0.6292469	total: 47.2s	remaining: 7.05s
241:	learn: 0.6291251	total: 47.4s	remaining: 6.86s
242:	learn: 0.6290114	total: 47.6s	remaining: 6.66s
243:	learn: 0.6289451	total: 47.6s	remaining: 6.44s
244:	learn: 0.6288219	total: 47.8s	remaining: 6.24s
245:	learn: 0.6287222	total: 47.9s	remaining: 6.04s
246:	learn: 0.6285678	total: 48.1s	remaining: 5.84s
247:	learn: 0.6284379	total: 48.2s	remaining: 5.64s
248:	learn: 0.6283231	total: 48.4s	remaining: 5.44s
249:	learn: 0.6282605	total: 48.5s	remaining: 5.24s
250:	learn: 0.6281253	total: 48.7s	remaining: 5.04s
251:	learn: 0.6280159	total: 48.8s	remaining: 4.84s
252:	learn: 0.6279183	total: 49s	remaining: 4.65s
253:	learn: 0.6278076	total: 49.2s	remaining: 4.45s
254:	learn: 0.6276763	total: 49.3s	remaining: 4.26s
255:	learn: 0.6275736	total: 49.5s	remaining: 4.06s
256:	learn: 0.6274604	total: 49.7s	remaining: 3.87s
257:	learn: 0.6273370	total: 49.9s	remaining: 3.67s
258:	learn: 0.6272253	total: 50s	remaining: 3.48s
259:	learn: 0.6270797	total: 50.2s	remaining: 3.28s
260:	learn: 0.6269800	total: 50.3s	remaining: 3.09s
261:	learn: 0.6268735	total: 50.5s	remaining: 2.89s
262:	learn: 0.6267685	total: 50.7s	remaining: 2.7s
263:	learn: 0.6266602	total: 50.9s	remaining: 2.5s
264:	learn: 0.6265506	total: 51s	remaining: 2.31s
265:	learn: 0.6264409	total: 51.2s	remaining: 2.12s
266:	learn: 0.6263321	total: 51.4s	remaining: 1.92s
267:	learn: 0.6262127	total: 51.6s	remaining: 1.73s
268:	learn: 0.6261040	total: 51.6s	remaining: 1.53s
269:	learn: 0.6260144	total: 51.8s	remaining: 1.34s
270:	learn: 0.6259205	total: 52s	remaining: 1.15s
271:	learn: 0.6258181	total: 52.1s	remaining: 959ms
272:	learn: 0.6257151	total: 52.3s	remaining: 767ms
273:	learn: 0.6256118	total: 52.5s	remaining: 575ms
274:	learn: 0.6255000	total: 52.7s	remaining: 383ms
275:	learn: 0.6254029	total: 52.8s	remaining: 191ms
276:	learn: 0.6253134	total: 53s	remaining: 0us
[[0.66274026 0.33725974]
 [0.51838084 0.48161916]
 [0.68486087 0.31513913]
 ...
 [0.58131249 0.41868751]
 [0.61891766 0.38108234]
 [0.39791392 0.60208608]]
              precision    recall  f1-score   support

           0       0.68      0.77      0.72     24006
           1       0.66      0.56      0.61     19807

    accuracy                           0.67     43813
   macro avg       0.67      0.66      0.66     43813
weighted avg       0.67      0.67      0.67     43813

              precision    recall  f1-score   support

           0       0.68      0.76      0.72      5994
           1       0.66      0.57      0.61      4960

    accuracy                           0.67     10954
   macro avg       0.67      0.67      0.67     10954
weighted avg       0.67      0.67      0.67     10954

***6.GRIDSEARCH***

In [ ]:
param_grid = {
  'colsample_bytree': [0.1, 0.3, 0.5, 0.7, 0.9],
  'learning_rate'   : [0.001, 0.01, 0.1, 1],
  'max_depth'       : [3, 5, 8, 10],
  'alpha'           : [1, 10, 100],
  'n_estimators'    : [10, 50, 100]
}

index = 0

answers_grid = {
    'combination'       :[],
    'train_Accuracy'    :[],
    'test_Accuracy'     :[],
    'colsample_bytree'  :[],
    'learning_rate'     :[],
    'max_depth'         :[],
    'alpha'             :[],
    'n_estimators'      :[]
}

In [ ]:
# Tạo một lưới các tham số
param_list = list(ParameterGrid(param_grid))

for params in param_list:
    # Tạo mô hình với các tham số hiện tại
    model_XGB_new = xgb.XGBClassifier(
        objective='binary:logistic',  # Sử dụng mục tiêu phân loại nhị phân
        colsample_bytree=params['colsample_bytree'],
        learning_rate=params['learning_rate'],
        max_depth=params['max_depth'],
        alpha=params['alpha'],
        n_estimators=params['n_estimators']
    )

    # Huấn luyện mô hình
    model_XGB_new.fit(X_train_under, y_train_under)

    # Dự đoán trên tập huấn luyện và kiểm tra
    y_train_pred = model_XGB_new.predict(X_train_under)
    y_test_pred = model_XGB_new.predict(X_test_under)

    # Tính toán độ chính xác
    train_accuracy = accuracy_score(y_train_under, y_train_pred)
    test_accuracy = accuracy_score(y_test_under, y_test_pred)

    # Lưu trữ kết quả
    answers_grid['combination'].append(params)
    answers_grid['train_Accuracy'].append(train_accuracy)
    answers_grid['test_Accuracy'].append(test_accuracy)
    answers_grid['colsample_bytree'].append(params['colsample_bytree'])
    answers_grid['learning_rate'].append(params['learning_rate'])
    answers_grid['max_depth'].append(params['max_depth'])
    answers_grid['alpha'].append(params['alpha'])
    answers_grid['n_estimators'].append(params['n_estimators'])

# In kết quả tham số tốt nhất dựa trên độ chính xác tập kiểm tra
best_index = answers_grid['test_Accuracy'].index(max(answers_grid['test_Accuracy']))
print("Best Hyperparameters:", answers_grid['combination'][best_index])

print_scores(y_train_under, y_train_pred)
print_scores(y_test_under, y_test_pred)

Best Hyperparameters: {'alpha': 10, 'colsample_bytree': 0.3, 'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 100}
              precision    recall  f1-score   support

           0       0.71      0.76      0.73     24006
           1       0.68      0.61      0.65     19807

    accuracy                           0.70     43813
   macro avg       0.69      0.69      0.69     43813
weighted avg       0.69      0.70      0.69     43813

              precision    recall  f1-score   support

           0       0.70      0.75      0.72      5994
           1       0.67      0.61      0.63      4960

    accuracy                           0.68     10954
   macro avg       0.68      0.68      0.68     10954
weighted avg       0.68      0.68      0.68     10954

In [ ]:
# Tạo confusion_matrix
conf_matrix = confusion_matrix(y_test, y_test_pred)
sns.heatmap(conf_matrix, xticklabels=["Not Fraud", "Fraud"], yticklabels=['Not Fraud', 'Fraud'], annot=True, fmt="d")
plt.title("Confusion Matrix")
plt.xlabel("Predicted Values")
plt.ylabel("True Values")
plt.show()